<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/admin/simple-sidebar.css">
    <![endif]-->
    <script src="/release/angular.min.js"></script>


    <script src='/release/textAngular-rangy.min.js'></script>
    <script src='/release/textAngular-sanitize.min.js'></script>
    <script src="/release/textAngular.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
    <link rel="stylesheet" href="/release/textAngular.css" type="text/css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.min.js"></script>


</head>
<body ng-app="myApp">

<div id="wrapper" ng-controller="myController">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    管理ページ
                </a>
            </li>
            <li>
                <a href="#" ng-click="changeTab('group')">グループ管理</a>
            </li>
            <li>
                <a href="#" ng-click="changeTab('member')">メンバー管理</a>
            </li>

            <li>
                <a href="#" ng-click="changeTab('theme')">テーマ管理</a>
            </li>

            <li>
                <a href="#" ng-click="changeTab('mail')">メール管理</a>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <group ng-show="changeTabVal == 'group'"></group>
                    <member ng-show="changeTabVal == 'member'"></member>
                    <theme ng-show="changeTabVal == 'theme'"></theme>
                    <mail ng-show="changeTabVal == 'mail'"></mail>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<script>

    var myApp = angular.module("myApp",["textAngular"])
    var myController = myApp.controller("myController",function($scope,myPost){
                $scope.changeTabVal = "group"

        $scope.changeTab = function(name){
                $scope.changeTabVal = name
        }


        $scope.getGroupList = function(){
            myPost.postData("/admin/getGroupList",{}).then(function(res){
                $scope.groupList = res.data.data
            })
        }


        $scope.getMembersList = function(){
            myPost.postData("/admin/getMembersList",{}).then(function(res){
                console.log(res.data)
                $scope.membersList = res.data.data
            })
        }

        $scope.getThemesList = function(){
            myPost.postData("/admin/getThemesList",{}).then(function(res){
                console.log(res.data)
                $scope.themesList = res.data.data
            })
        }

        $scope.getGroupMembersList = function(){
            if(!$scope.group){
                return;
            }

            myPost.postData("/admin/getGroupMembersList",{group:$scope.group}).then(function(res){
                $scope.groupMembersList = res.data.data
            })
        }

        $scope.getDraftList = function(){
            myPost.postData("/admin/getDraft",{}).then(function(res){
                $scope.DraftsList = res.data.data
            })
        }
    })


    myApp.factory("myPost",function($http){
        return{
            postData:function(url,data){
                return $http.post(url,data).success(function(res){
                    return res;
                })
            }
        }
    })



    myApp.directive("group",function(myPost){
        return {
            scope:false,
            link:function(scope){
                scope._submit = function () {
                    var name = scope.name
                    var desc = scope.desc
                    if(!name || !desc) return;

                    myPost.postData("/admin/increaseGroup",{name:name,desc:desc}).then(function(res){
                        console.log(res)
                        scope.getGroupList()
                    })
                }

                scope.delete = function(_id){
                    myPost.postData("/admin/deleteGroup",{_id:_id}).then(function(res){
                        if(res.error == 1) alert(res.msg)
                        scope.getGroupList()
                    })
                }

                scope.getGroupList()

            },
            templateUrl:"/angularJSTemplate/admin/group.html"
        }
    })

    myApp.directive("member",function(myPost){
        return {
            scope:false,
            link:function(scope,element){

                scope.editVal = 0
                //表单处于添加状态

                scope.getMembersList()
                scope._submits = function(){
                    var username = scope.username
                    var password = scope.password
                    var name = scope.name
                    var group = scope.group

                    if(!name || !group || !password || !name){
                        return;
                    }

                    myPost.postData("/admin/increaseMembers",{username:username,name:name,password:password,group:group}).then(function(res){
                        scope.getMembersList()
                    })

                }



                scope.deletes = function(_id){
                    myPost.postData("/admin/deleteMembers",{_id:_id}).then(function(res){
                        if(res.error == 1) alert(res.msg)
                        scope.getMembersList()
                    })
                }


                scope.edits = function(_id){
                    myPost.postData("/admin/getMembers",{_id:_id}).then(function(res){


                        if(res.data.error == 1) alert(res.msg)
                        if(res.data.error == 0){
                            scope.editVal = 1
                            scope.usernameVal = res.data.data.username
                            scope.name = res.data.data.name
                            scope.groupVal = res.data.data.group
                            scope.passwordVal = res.data.data.password
                            scope.edit_id = _id
                            //表单处于编辑状态
                        }

                    })
                }

                scope.backs = function(){
                    scope.editVal = 0
                }


                scope._updates = function(){
                    var username = scope.usernameVal
                    var password = scope.passwordVal
                    var name = scope.nameVal
                    var group = scope.groupVal

                    if(!username || !group || !password || !name){
                        return;
                    }

                    myPost.postData("/admin/updateMembers",{_id:scope.edit_id,username:username,name:name,password:password,group:group}).then(function(res){
                        scope.getMembersList()
                    })

                }


            },
            templateUrl:"/angularJSTemplate/admin/member.html"
        }
    })


    myApp.directive("theme",function(myPost){
        return {
            scope:false,
            link:function(scope,element){
                scope.getThemesList()


                scope.editVal = 0
                //表单处于添加状态

                scope._submit = function(){
                    var theme = scope.theme
                    var desc = scope.desc
                    var group = scope.group

                    if(!theme || !group || !desc){
                        return;
                    }

                    myPost.postData("/admin/increaseThemes",{theme:theme,desc:desc,group:group}).then(function(res){
                        scope.getThemesList()
                    })

                }


                scope._update = function(){
                    var theme = scope.themeVal
                    var desc = scope.descVal
                    var group = scope.groupVal



                    if(!theme || !group || !desc){
                        return;
                    }

                    myPost.postData("/admin/updateThemes",{_id:scope.edit_id,theme:theme,desc:desc,group:group}).then(function(res){
                        scope.getThemesList()
                    })

                }



                scope.delete = function(_id){
                    myPost.postData("/admin/deleteThemes",{_id:_id}).then(function(res){
                        if(res.error == 1) alert(res.msg)
                        scope.getThemesList()
                    })
                }



                scope._edit = function(_id){

                        myPost.postData("/admin/getThemes",{_id:_id}).then(function(res){

                            if(res.data.error == 1) alert(res.msg)
                            if(res.data.error == 0){
                                scope.editVal = 1
                                scope.themeVal = res.data.data.theme
                                scope.groupVal = res.data.data.group
                                scope.descVal = res.data.data.desc
                                scope.edit_id = _id
                                //表单处于编辑状态
                            }

                        })
                }

                scope.back = function(){
                    scope.editVal = 0
                }
            },
            templateUrl:"/angularJSTemplate/admin/theme.html"
        }
    })





    myApp.directive("mail",function(myPost){
        return {
            scope:false,
            link:function(scope,element){
                scope.contacts = []
                scope.getGroupList()
                scope.getDraftList()

                scope.draft = function(){
                    myPost.postData("/admin/draftInsert",{subject:scope.subject,content:scope.htmlContent,contacts:scope.contacts}).then(function(res){
                        scope.getDraftList()


                        scope.subject = ""
                        scope.contacts = []
                        scope.htmlContent = ""
                    })
                }

                //getDraft

                scope.selectContact = function(username,group){

                    var username = username || scope.username.split(",")[0]
                    var group = group || scope.group

                    var name = scope.username.split(",")[1]
                    var a = -1;


                    for(var i=0;i<scope.contacts.length;i++){
                        if(scope.contacts[i].group == group){
                            a = i
                        }
                    }
                    if(a == -1){
                        scope.contacts.push({group:group,val:[{username:username,name:name}]})
                    }else{
                        var b = -1
                        for(var j=0;j<scope.contacts[a].val.length;j++){
                            if(username == scope.contacts[a].val[j].username){
                                scope.contacts[a].val.splice(j,1)
                                b = j
                            }
                        }
                        if(b == -1){
                            scope.contacts[a].val.push({username:username,name:name})
                        }

                    }

                }



                scope.selectContactVal = function(username,group){

                    var username = username || scope.username.split(",")[0]
                    var group = group || scope.group

                    var name = scope.username.split(",")[1]
                    var a = -1;


                    for(var i=0;i<scope.contactsVal.length;i++){
                        if(scope.contactsVal[i].group == group){
                            a = i
                        }
                    }
                    if(a == -1){
                        scope.contactsVal.push({group:group,val:[{username:username,name:name}]})
                    }else{
                        var b = -1
                        for(var j=0;j<scope.contactsVal[a].val.length;j++){
                            if(username == scope.contactsVal[a].val[j].username){
                                scope.contactsVal[a].val.splice(j,1)
                                b = j
                            }
                        }
                        if(b == -1){
                            scope.contactsVal[a].val.push({username:username,name:name})
                        }

                    }

                }


                scope.removeDraft = function(_id){
                    myPost.postData("/admin/draftRemove",{_id:_id}).then(function(res){
                        scope.getDraftList()
                    })
                }

                scope.editDraft = function(_id){
                    myPost.postData("/admin/getOneDraft",{_id:_id}).then(function(res){
                        if(res.data.error == 0){
                            scope.editVal = 1
                            scope.subjectVal = res.data.data.subject
                            scope.contactsVal = res.data.data.contacts
                            scope.htmlContentVal = res.data.data.content
                            scope.edit_id = _id
                            //表单处于编辑状态
                        }
                    })
                }

                scope.addNew = function(){
                    scope.editVal = 0
                    scope.subjectVal = ""
                    scope.contactsVal = ""
                    scope.htmlContentVal = ""
                    scope.edit_id = ""
                }

                scope.updateDraft = function(){
                    
                }
            },
            templateUrl:"/angularJSTemplate/admin/mail.html"
        }
    })
</script>
</body>
</html>

