<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/admin/simple-sidebar.css">
    <![endif]-->
    <script src="/release/angular.min.js"></script>


    <script src='/release/textAngular-rangy.min.js'></script>
    <script src='/release/textAngular-sanitize.min.js'></script>
    <script src="/release/textAngular.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
    <link rel="stylesheet" href="/release/textAngular.css" type="text/css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.min.js"></script>


</head>
<body ng-app="myApp">

<div id="wrapper" ng-controller="myController">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    管理ページ
                </a>
            </li>
            <li>
                <a href="#" ng-click="changeTab('group')">グループ管理</a>
            </li>
            <li>
                <a href="#" ng-click="changeTab('member')">メンバー管理</a>
            </li>

            <li>
                <a href="#" ng-click="changeTab('theme')">テーマ管理</a>
            </li>

            <li>
                <a href="#" ng-click="changeTab('mail')">メール管理</a>
            </li>

            <li>
                <a href="#" ng-click="changeTab('first')">第一回目評価実験</a>
            </li>

            <li>
                <a href="#" ng-click="changeTab('second')">第二回目評価実験</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <group ng-show="changeTabVal == 'group'"></group>
                    <member ng-show="changeTabVal == 'member'"></member>
                    <theme ng-show="changeTabVal == 'theme'"></theme>
                    <mail ng-show="changeTabVal == 'mail'"></mail>
                    <first ng-show="changeTabVal == 'first'"></first>
                    <second ng-show="changeTabVal == 'second'"></second>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<script>

    var myApp = angular.module("myApp",["textAngular"])
    var myController = myApp.controller("myController",function($scope,myPost){
                $scope.changeTabVal = "group"

        $scope.changeTab = function(name){
                $scope.changeTabVal = name
        }


        $scope.getGroupList = function(){
            myPost.postData("/admin/getGroupList",{}).then(function(res){
                $scope.groupList = res.data.data
            })
        }


        $scope.getMembersList = function(){
            myPost.postData("/admin/getMembersList",{}).then(function(res){
                console.log(res.data)
                $scope.membersList = res.data.data
            })
        }

        $scope.getThemesList = function(){
            myPost.postData("/admin/getThemesList",{}).then(function(res){
                console.log(res.data)
                $scope.themesList = res.data.data
            })
        }

        $scope.getGroupMembersList = function(){
            if(!$scope.group){
                return;
            }

            myPost.postData("/admin/getGroupMembersList",{group:$scope.group}).then(function(res){
                $scope.groupMembersList = res.data.data
            })
        }

        $scope.getDraftList = function(){
            myPost.postData("/admin/getDraft",{}).then(function(res){
                $scope.DraftsList = res.data.data
            })
        }
    })


    myApp.factory("myPost",function($http){
        return{
            postData:function(url,data){
                return $http.post(url,data).success(function(res){
                    return res;
                })
            }
        }
    })

    myApp.directive("group",function(myPost){
        return {
            scope:false,
            link:function(scope){
                scope._submitGroup = function () {
                    var name = scope.name
                    var desc = scope.desc

                    if(!name || !desc) return;

                    myPost.postData("/admin/increaseGroup",{name:name,desc:desc}).then(function(res){
                        console.log(res)
                        scope.getGroupList()
                    })
                }

                scope.deleteGroup = function(_id){
                    myPost.postData("/admin/deleteGroup",{_id:_id}).then(function(res){
                        if(res.error == 1) alert(res.msg)
                        scope.getGroupList()
                    })
                }

                scope.getGroupList()

            },
            templateUrl:"/angularJSTemplate/admin/group.html"
        }
    })


    myApp.directive("member",function(myPost){
        return {
            scope:false,
            link:function(scope,element){

                scope.editVal = 0
                //表单处于添加状态

                scope.getMembersList()
                scope._submits = function(){
                    var username = scope.username
                    var password = scope.password
                    var name = scope.name
                    var mail = scope.mail
                    var group = scope.group

                    if(!name || !group || !password || !name){
                        return;
                    }

                    myPost.postData("/admin/increaseMembers",{username:username,name:name,password:password,group:group,mail:mail}).then(function(res){
                        scope.getMembersList()

                        scope.username　= ""
                        scope.password = ""
                        scope.name = ""
                        scope.mail = ""
                        scope.group = ""
                    })

                }



                scope.deletes = function(_id){
                    myPost.postData("/admin/deleteMembers",{_id:_id}).then(function(res){
                        if(res.error == 1) alert(res.msg)
                        scope.getMembersList()
                    })
                }


                scope.edits = function(_id){
                    myPost.postData("/admin/getMembers",{_id:_id}).then(function(res){


                        if(res.data.error == 1) alert(res.msg)
                        if(res.data.error == 0){
                            scope.editVal = 1
                            scope.usernameVal = res.data.data.username
                            scope.nameVal = res.data.data.name
                            scope.mailVal = res.data.data.mail
                            scope.groupVal = res.data.data.group
                            scope.passwordVal = res.data.data.password
                            scope.edit_id = _id
                            //表单处于编辑状态
                        }

                    })
                }

                scope.backs = function(){
                    scope.editVal = 0
                }


                scope._updates = function(){
                    var username = scope.usernameVal
                    var password = scope.passwordVal
                    var name = scope.nameVal
                    var mail = scope.mailVal
                    var group = scope.groupVal

                    if(!username || !group || !password || !name){
                        return;
                    }

                    myPost.postData("/admin/updateMembers",{_id:scope.edit_id,username:username,name:name,mail:mail,password:password,group:group}).then(function(res){
                        scope.getMembersList()

                        scope.editVal = 0
                        scope.usernameVal = ""
                        scope.name = ""
                        scope.groupVal = ""
                        scope.passwordVal = ""
                        scope.mailVal = ""
                        scope.edit_id = ""

                    })

                }


            },
            templateUrl:"/angularJSTemplate/admin/member.html"
        }
    })


    myApp.directive("theme",function(myPost){
        return {
            scope:false,
            link:function(scope,element){
                scope.getThemesList()


                scope.editVal = 0
                //表单处于添加状态

                scope._submit = function(){
                    var theme = scope.theme
                    var desc = scope.desc
                    var group = scope.group

                    if(!theme || !group || !desc){
                        return;
                    }

                    myPost.postData("/admin/increaseThemes",{theme:theme,desc:desc,group:group}).then(function(res){
                        scope.getThemesList()
                    })

                }


                scope._update = function(){
                    var theme = scope.themeVal
                    var desc = scope.descVal
                    var group = scope.groupVal



                    if(!theme || !group || !desc){
                        return;
                    }

                    myPost.postData("/admin/updateThemes",{_id:scope.edit_id,theme:theme,desc:desc,group:group}).then(function(res){
                        scope.getThemesList()
                    })

                }



                scope.delete = function(_id){
                    myPost.postData("/admin/deleteThemes",{_id:_id}).then(function(res){
                        if(res.error == 1) alert(res.msg)
                        scope.getThemesList()
                    })
                }



                scope._edit = function(_id){

                        myPost.postData("/admin/getThemes",{_id:_id}).then(function(res){

                            if(res.data.error == 1) alert(res.msg)
                            if(res.data.error == 0){
                                scope.editVal = 1
                                scope.themeVal = res.data.data.theme
                                scope.groupVal = res.data.data.group
                                scope.descVal = res.data.data.desc
                                scope.edit_id = _id
                                //表单处于编辑状态
                            }

                        })
                }

                scope.back = function(){
                    scope.editVal = 0
                }
            },
            templateUrl:"/angularJSTemplate/admin/theme.html"
        }
    })





    myApp.directive("mail",function(myPost){
        return {
            scope:false,
            link:function(scope,element){
                scope.contacts = []
                scope.getGroupList()
                scope.getDraftList()

                scope.draft = function(){
                    myPost.postData("/admin/draftInsert",{subject:scope.subject,content:scope.htmlContent,contacts:scope.contacts}).then(function(res){
                        scope.getDraftList()


                        scope.subject = ""
                        scope.contacts = []
                        scope.htmlContent = ""
                    })
                }

                //getDraft

                scope.selectContact = function(username,group,mail){


                    var username = username || scope.username.split(",")[0]
                    var mail = mail || scope.username.split(",")[2]
                    var group = group || scope.group

                    var name = scope.username.split(",")[1]
                    var a = -1;




                    for(var i=0;i<scope.contacts.length;i++){
                        if(scope.contacts[i].group == group){
                            a = i
                        }
                    }
                    if(a == -1){
                        scope.contacts.push({group:group,val:[{username:username,name:name,mail:mail}]})
                    }else{
                        var b = -1
                        for(var j=0;j<scope.contacts[a].val.length;j++){
                            if(username == scope.contacts[a].val[j].username){
                                scope.contacts[a].val.splice(j,1)
                                b = j
                            }
                        }
                        if(b == -1){
                            scope.contacts[a].val.push({username:username,name:name,mail:mail})
                        }

                    }

                }

                scope.selectContactVal = function(username,group,mail,name){

                    var username = username || scope.usernameVal.split(",")[0]
                    var mail = mail || scope.usernameVal.split(",")[2]
                    var group = group || scope.group

                    var name = name || scope.usernameVal.split(",")[1]
                    var a = -1;


                    for(var i=0;i<scope.contactsVal.length;i++){
                        if(scope.contactsVal[i].group == group){
                            a = i
                        }
                    }
                    if(a == -1){
                        scope.contactsVal.push({group:group,val:[{username:username,name:name,mail:mail}]})
                    }else{
                        var b = -1
                        for(var j=0;j<scope.contactsVal[a].val.length;j++){
                            if(username == scope.contactsVal[a].val[j].username){
                                scope.contactsVal[a].val.splice(j,1)
                                b = j
                            }
                        }
                        if(b == -1){
                            scope.contactsVal[a].val.push({username:username,name:name,mail:mail})
                        }

                    }

                }





                scope.removeDraft = function(_id){
                    myPost.postData("/admin/draftRemove",{_id:_id}).then(function(res){
                        scope.getDraftList()
                    })
                }

                scope.editDraft = function(_id){
                    myPost.postData("/admin/getOneDraft",{_id:_id}).then(function(res){
                        if(res.data.error == 0){
                            scope.editVal = 1
                            scope.subjectVal = res.data.data.subject
                            scope.contactsVal = res.data.data.contacts
                            scope.htmlContentVal = res.data.data.content
                            scope.edit_id = _id
                            //表单处于编辑状态
                        }
                    })
                }

                scope.addNew = function(){
                    scope.editVal = 0
                    scope.subjectVal = ""
                    scope.contactsVal = ""
                    scope.htmlContentVal = ""
                    scope.edit_id = ""
                }

                scope.updateDraft = function(){
                    var subject = scope.subjectVal
                    var contacts = scope.contactsVal
                    var htmlContent = scope.htmlContentVal


                    if(!subject || !contacts || !htmlContent){
                        return;
                    }

                    myPost.postData("/admin/updateMailDraft",{_id:scope.edit_id,subject:scope,subject,contacts:contacts,content:htmlContent}).then(function(res){
                        scope.getDraftList()
                        scope.addNew()
                    })
                }


                scope.sendMail = function(n){
                    //n = 1 新規
                    //n = 2 修正

                    if(n == 1){
                        var subject = scope.subject
                        var contacts = scope.contacts
                        var content = scope.htmlContent
                    }

                    if(n == 2){
                        var subject = scope.subjectVal
                        var contacts = scope.contactsVal
                        var content = scope.htmlContentVal
                    }

                    myPost.postData("/admin/send",{subject:scope,subject,contacts:contacts,content:content}).then(function(res){

                    })

                }
            },
            templateUrl:"/angularJSTemplate/admin/mail.html"
        }
    })


    myApp.directive("first",function(myPost){
        return{
            scope:false,
            link:function(scope,element){

                myPost.postData("/admin/getStatementstatics",{expeOrder:1}).then(function(res){
                    scope.firstStatementStatics = res.data.data
                    console.log(scope.firstStatementStatics)


                    var members = []
                    scope.firstStatementStatics.forEach(function(value){
                        if (members.indexOf(value.pro)==-1) members.push(value.pro);
                        if (members.indexOf(value.con)==-1) members.push(value.con);
                    });
                    scope.members = members;

                    for(var i=0;i<scope.firstStatementStatics.length;i++){
                        countTotalNum(i,scope.firstStatementStatics[i].statementLog)
                        changeTime(i,scope.firstStatementStatics[i].time)
                    }

                    function countTotalNum(_i,statementLog){
                        var total = 0
                        var proTotal = 0
                        var conTotal = 0
                        var proClaimTotal = 0
                        var proRebuttalTotal = 0
                        var proRebuttalNum = 0

                        var conClaimTotal = 0
                        var conRebuttalTotal = 0
                        var conRebuttalNum = 0

                        for(var i=0;i<statementLog.length;i++){
                            total += statementLog[i].statementData.length
                            if(statementLog[i].position == 1){
                                proTotal += statementLog[i].statementData.length
                                proClaimTotal += statementLog[i].statementData.length
                            }

                            if(statementLog[i].position == 2){
                                conTotal += statementLog[i].statementData.length
                                conClaimTotal += statementLog[i].statementData.length
                            }

                            var dissentExplain = statementLog[i].dissentExplain
                            for(var j=0;j<dissentExplain.length;j++){
                                total +=  dissentExplain[j].reply.length

                                if(statementLog[i].position == 1){
                                    proTotal += dissentExplain[j].reply.length
                                    proRebuttalTotal += dissentExplain[j].reply.length
                                    proRebuttalNum ++
                                }

                                if(statementLog[i].position == 2){
                                    conTotal += dissentExplain[j].reply.length
                                    conRebuttalTotal += dissentExplain[j].reply.length
                                    conRebuttalNum ++
                                }
                            }
                        }
                        scope.firstStatementStatics[_i].totalLitterNum = total
                        scope.firstStatementStatics[_i].proTotalLitterNum = proTotal
                        scope.firstStatementStatics[_i].conTotalLitterNum = conTotal
                        scope.firstStatementStatics[_i].proClaimTotal = proClaimTotal
                        scope.firstStatementStatics[_i].proRebuttalTotal = proRebuttalTotal
                        scope.firstStatementStatics[_i].proRebuttalNum = proRebuttalNum
                        scope.firstStatementStatics[_i].conClaimTotal = conClaimTotal
                        scope.firstStatementStatics[_i].conRebuttalTotal = conRebuttalTotal
                        scope.firstStatementStatics[_i].conRebuttalNum = conRebuttalNum
                    }

                    function changeTime(_i,time){
                        scope.firstStatementStatics[_i].time = changeDate(time)
                    }

                })
            },
            templateUrl:"/angularJSTemplate/admin/first.html"
        }
    })

    myApp.directive("second",function(myPost){
        return{
            scope:false,
            link:function(scope,element){

            },
            templateUrl:"/angularJSTemplate/admin/second.html"
        }
    })


    function changeDate(str){
        var now_date, now_date_format;
        now_date = new Date(parseInt(str));
        now_date_format = now_date.getFullYear();

        if (parseInt(now_date.getMonth()) <= 9) {
            now_date_format += "-" + "0" + (parseInt(now_date.getMonth()));
        } else {
            now_date_format += "-" + (parseInt(now_date.getMonth()));
        }
        if (parseInt(now_date.getDate()) <= 9) {
            now_date_format += "-" + "0" + (parseInt(now_date.getDate()));
        } else {
            now_date_format += "-" + (parseInt(now_date.getDate()));
        }

        if (parseInt(now_date.getHours()) <= 9) {
            now_date_format += " " + "0" + (parseInt(now_date.getHours()));
        } else {
            now_date_format += " " + (parseInt(now_date.getHours()));
        }


        if (parseInt(now_date.getMinutes()) <= 9) {
            now_date_format += ":" + "0" + (parseInt(now_date.getMinutes()));
        } else {
            now_date_format += ":" + (parseInt(now_date.getMinutes()));
        }

        if (parseInt(now_date.getSeconds()) <= 9) {
            now_date_format += ":" + "0" + (parseInt(now_date.getSeconds()));
        } else {
            now_date_format += ":" + (parseInt(now_date.getSeconds()));
        }

        return now_date_format;

    }

</script>
</body>
</html>

