<div ng-if="LAN=='JP'">
<div  ng-if="conceptStatus=='analysis'">
<div  class="panel panel-info" ng-if="inputStatus.name == 'claim' || inputStatus.name == 'newClaim'">
    <div class="panel-heading">主張</div>
    <div class="panel-body" id="inputExampleBody">
        <p>根拠から展開されたひとつの主張です。最も言いたいことです。相手の話を聞いて何が言いたいのかわからない場合は、主張をしていないからです。そして、主張を引き出すためには、「だから何だろう？」と質問をしてみましょう。すると相手が本当に言いたいことが解ります。</p>
        <p>
        <ul>
            <li>根拠：TシャツAの価格は、100,000円である
            </li>
            <li class="_border">主張：誰も買わない</li>
            <li>論拠：Tシャツの相場は、500円から高くても4000円。対して、100,000円のTシャツなんて誰も買うわけがない。同じお金があれば、コート、カバン、時計、アクセサリーを買うに違いない。</li>
        </ul>
        </p>
    </div>
</div>



<div  class="panel panel-info" ng-if="inputStatus.name == 'evidence' || inputStatus.name == 'newEvidence'">
    <div class="panel-heading">根拠</div>
    <div class="panel-body" id="inputExampleBody">
        <p>(より確かな)事実です。100%正しい事実ではありません。（そんなものは存在しません）。ディベートの試合ではどちらの発言が、より事実に近いかがポイントになります。相手の話を聞くときは、「なんでそうなるんですか？」「本当にそうですか？」と事実や理由を探る態度でいてください。</p>
        <p>
        <ul>
            <li class="_border">根拠：TシャツAの価格は、100,000円である
            </li>
            <li>主張：誰も買わない</li>
            <li>論拠：Tシャツの相場は、500円から高くても4000円。対して、100,000円のTシャツなんて誰も買うわけがない。同じお金があれば、コート、カバン、時計、アクセサリーを買うに違いない。</li>
        </ul>
        </p>
    </div>
</div>




<div  class="panel panel-info" ng-if="inputStatus.name == 'warrant' || inputStatus.name == 'newWarrant'">
    <div class="panel-heading">論拠</div>
    <div class="panel-body" id="inputExampleBody">
        <p>根拠が主張を支えている理由です。論拠は、必ずしも明示的に示されていません。暗黙の前提とも言います。詳しくは、論拠とは何者か？の記事を参照下さい。</p>
        <p>
        <ul>
            <li>根拠：TシャツAの価格は、100,000円である
            </li>
            <li>主張：誰も買わない</li>
            <li class="_border">論拠：Tシャツの相場は、500円から高くても4000円。対して、100,000円のTシャツなんて誰も買うわけがない。同じお金があれば、コート、カバン、時計、アクセサリーを買うに違いない。</li>
        </ul>
        </p>
    </div>
</div>

</div>


<div ng-if="conceptStatus=='statement'">

    <div  class="panel panel-info" ng-if="statementStatus.name == 'dissent'">
        <div class="panel-heading">異議の理由を述べてください</div>
        <div class="panel-body" style="height: 315px;overflow: auto"  id="inputExampleBody">
            <p>异议:</p>
            <p style="color: red">{{dissentTxt}}</p>

            <p>在此您需要对您选择的有异议的地方做解释性说明。尽量在您的阐述中包含以下元素(主张,理由,证据)</p>
            <p>主张:主张就是最终想要表达的一个或者多个结论</p>
            <p>理由:理由是连接证据和主张的解释性语句</p>
            <p>证据:这里证据支撑着结论,比如有关例子,数据等等</p>
        </div>
    </div>

    <div  class="panel panel-info" ng-if="statementStatus.name == 'claim'">
        <div class="panel-heading">自分の立論があれば述べてください</div>
        <div class="panel-body" id="inputExampleBody">
            <p>根拠が主張を支えている理由です。論拠は、必ずしも明示的に示されていません。暗黙の前提とも言います。詳しくは、論拠とは何者か？の記事を参照下さい。</p>
            <p>
            <ul>
                <li>根拠：TシャツAの価格は、100,000円である
                </li>
                <li>主張：誰も買わない</li>
                <li class="_border">論拠：Tシャツの相場は、500円から高くても4000円。対して、100,000円のTシャツなんて誰も買うわけがない。同じお金があれば、コート、カバン、時計、アクセサリーを買うに違いない。</li>
            </ul>
            </p>
        </div>
    </div>



    <div  class="panel panel-info" ng-if="statementStatus.name == 'submit'">
        <div class="panel-heading">自分の立論があれば述べてください</div>
        <div class="panel-body" id="inputExampleBody">
            <p>根拠が主張を支えている理由です。論拠は、必ずしも明示的に示されていません。暗黙の前提とも言います。詳しくは、論拠とは何者か？の記事を参照下さい。</p>
            <p>
            <ul>
                <li>根拠：TシャツAの価格は、100,000円である
                </li>
                <li>主張：誰も買わない</li>
                <li class="_border">論拠：Tシャツの相場は、500円から高くても4000円。対して、100,000円のTシャツなんて誰も買うわけがない。同じお金があれば、コート、カバン、時計、アクセサリーを買うに違いない。</li>
            </ul>
            </p>
        </div>
    </div>


</div>



</div>






































<div ng-if="LAN=='CN'">
<div  ng-if="conceptStatus=='analysis'">
    <div  class="panel panel-info" ng-if="inputStatus.name == 'claim' || inputStatus.name == 'newClaim'">
        <div class="panel-heading">主张</div>
        <div class="panel-body" style="height: 315px;overflow: auto" id="inputExampleBody">
            <p>主张就是最终想要表达的一个或者多个结论,比如一下的例子里面</p>
            <p>
            <ul>
                <li>证据：这件短袖T恤的价格是一万人民币
                </li>
                <li class="_border">主张：结果肯定是谁也不会去买的</li>
                <li>理由：短袖T恤的价格一般在几十元到一千块之间。对于一件价格一万块的短袖T恤来说没有谁可能会去买。如果有一万块钱,可以去买项链,手表,化妆品等等.
                    </li>
            </ul>
            </p>
        </div>
    </div>



    <div  class="panel panel-info" ng-if="inputStatus.name == 'evidence' || inputStatus.name == 'newEvidence'">
        <div class="panel-heading">证据</div>
        <div class="panel-body" style="height: 315px;overflow: auto" id="inputExampleBody">
            <p>这里证据支撑着结论,它有可能是事实,也有可能不够准确</p>
            <p>
            <ul>
                <li>证据：这件短袖T恤的价格是一万人民币
                </li>
                <li class="_border">主张：结果肯定是谁也不会去买的</li>
                <li>理由：短袖T恤的价格一般在几十元到一千块之间。对于一件价格一万块的短袖T恤来说没有谁可能会去买。如果有一万块钱,可以去买项链,手表,化妆品等等.
                </li>
            </ul>
            </p>
        </div>
    </div>




    <div  class="panel panel-info" ng-if="inputStatus.name == 'warrant' || inputStatus.name == 'newWarrant'">
        <div class="panel-heading">理由</div>
        <div class="panel-body" style="height: 315px;overflow: auto" id="inputExampleBody">
            <p>理由是连接证据和主张的解释性语句</p>
            <p>
            <ul>
                <li>证据：这件短袖T恤的价格是一万人民币
                </li>
                <li class="_border">主张：结果肯定是谁也不会去买的</li>
                <li>理由：短袖T恤的价格一般在几十元到一千块之间。对于一件价格一万块的短袖T恤来说没有谁可能会去买。如果有一万块钱,可以去买项链,手表,化妆品等等.
                </li>
            </ul>
            </p>
        </div>
    </div>

</div>


<div ng-if="conceptStatus=='statement'">

    <div  class="panel panel-info" ng-if="statementStatus.name == 'dissent'">
        <div class="panel-heading">请对您选择的您觉得有异议的地方,做解释说明</div>
        <div class="panel-body" style="height: 315px;overflow: auto" id="inputExampleBody">
            <p>异议:</p>
            <p style="color: red">{{dissentTxt}}</p>

            <p>在此您需要对您选择的有异议的地方做解释性说明。尽量在您的阐述中包含以下元素(主张,理由,证据)</p>
            <p>主张:主张就是最终想要表达的一个或者多个结论</p>
            <p>理由:理由是连接证据和主张的解释性语句</p>
            <p>证据:这里证据支撑着结论,比如有关例子,数据等等</p>




        </div>
    </div>

    <div  class="panel panel-info" ng-if="statementStatus.name == 'claim'">
        <div class="panel-heading">请先阐述你的结论</div>
        <div class="panel-body" id="inputExampleBody">
            <p>在此您可以表达自己对于本话题的看法,请注意您的逻辑的完整性。尽量在您的阐述中包含以下元素(主张,理由,证据)</p>
            <p>主张:主张就是最终想要表达的一个或者多个结论</p>
            <p>理由:理由是连接证据和主张的解释性语句</p>
            <p>证据:这里证据支撑着结论,比如有关例子,数据等等</p>

            <p>
            <ul>
                <li>证据：这件短袖T恤的价格是一万人民币
                </li>
                <li class="_border">主张：结果肯定是谁也不会去买的</li>
                <li>理由：短袖T恤的价格一般在几十元到一千块之间。对于一件价格一万块的短袖T恤来说没有谁可能会去买。如果有一万块钱,可以去买项链,手表,化妆品等等.
                </li>
            </ul>
            </p>
        </div>
    </div>



    <div  class="panel panel-info" ng-if="statementStatus.name == 'submit'">
        <div class="panel-heading">如果您觉得准确无误的话,您可以选择发送给对方</div>
        <div class="panel-body" id="inputExampleBody">
            <p>请再次确认您的说明中是否包含清晰的逻辑结构(主张,理由,证据),以便对方清晰地分析</p>
            <p>主张:主张就是最终想要表达的一个或者多个结论</p>
            <p>理由:理由是连接证据和主张的解释性语句</p>
            <p>证据:这里证据支撑着结论,比如有关例子,数据等等</p>

            <p>
            <ul>
                <li>证据：这件短袖T恤的价格是一万人民币
                </li>
                <li class="_border">主张：结果肯定是谁也不会去买的</li>
                <li>理由：短袖T恤的价格一般在几十元到一千块之间。对于一件价格一万块的短袖T恤来说没有谁可能会去买。如果有一万块钱,可以去买项链,手表,化妆品等等.
                </li>
            </ul>
            </p>
        </div>
    </div>

</div>
</div>
