<div ng-if="LAN=='JP'" style="height: 100%">
<div  ng-if="conceptStatus=='analysis'" style="height: 100%">
<div  class="panel panel-info" style="height: 100%;overflow: auto">
    <div class="panel-heading">ヒント</div>
    <div class="panel-body" id="inputExampleBody">
        <p>主張：その立場としての意見や考えの中で最も言いたいこと、あるいは結論。</p>
        <p>根拠：主張の正当性を支える事実。</p>
        <p>論拠：根拠が主張を支えている理由、あるいは暗黙の前提。(必ずしも明示的には示されていない)</p>
        <p>
        <p>例）「Aくんは中高時代に米国で暮らしていた。よって、Aくんは英語が話せる。」</p>
        <p>この場合の「主張」「論拠」「根拠」は以下のようになる。</p>
        <ul>
            <li>主張：Aくんは英語が話せる</li>
            <li>根拠：Aくんは中高時代に米国で暮らしていた</li>
            <li>論拠：海外で暮らしていたのだから、当然現地の人たちと英語で話していたのに違いない</li>
        </ul>
        </p>
    </div>
</div>


</div>
<div ng-if="conceptStatus=='statement'" style="height: 100%">

    <div class="panel panel-info" ng-if="statementStatus.name == 'dissent'" >
        <div class="panel-heading">ヒント</div>
        <div class="panel-body" style="height: 280px;overflow: auto"  id="inputExampleBody">
            反駁とは，相手の意見の中の異議がある部分について、判断や反論の意見を述べること。
        </div>
    </div>


    <div class="panel panel-info" ng-if="statementStatus.name != 'dissent'" >
        <div class="panel-heading">ヒント</div>
        <div class="panel-body" style="height: 280px;overflow: auto"  id="inputExampleBody">
            <p>立論とは，自分の立場の主張を認めさせるための意見を述べることです。</p>
        </div>
    </div>



</div>


    <div ng-if="conceptStatus=='judgeMent'" style="height: 100%">

        <div  class="panel panel-info" style="height: 100%;overflow: auto">
            <div class="panel-heading">
                勝敗判定ルール
            </div>
            <div class="panel-body" >
                <table class="table">

                    <tr class="default">
                        <td class="active">肯定側自己判定</td>
                        <td class="active">否定側自己判定</td>
                        <td class="active">勝敗結果</td>
                    </tr>
                    <tr class="active" >
                        <td>勝ち</td>
                        <td>負け</td>
                        <td class="active">肯定側の勝ち</td>
                    </tr>

                    <tr ng-class="{'info':gameResult.order == 1,'':gameResult.order != 1}">
                        <td class="active">負け</td>
                        <td class="active">勝ち</td>
                        <td class="active">否定側の勝ち</td>
                    </tr>

                    <tr ng-class="{'info':gameResult.order == 2,'':gameResult.order != 2}">
                        <td class="active">引き分け</td>
                        <td class="active">引き分け</td>
                        <td class="active">引き分け</td>
                    </tr>

                    <tr ng-class="{'info':gameResult.order == 3,'':gameResult.order != 3}">
                        <td class="active">勝ち</td>
                        <td class="active">勝ち／引き分け</td>
                        <td class="active" rowspan="3" align="center" valign="middle">
                            <br/><br/>
                            未決着
                        </td>
                    </tr>

                    <tr ng-class="{'info':gameResult.order == 3,'':gameResult.order != 3}">
                        <td class="active">負け</td>
                        <td class="active">負け／引き分け</td>
                    </tr>

                    <tr ng-class="{'info':gameResult.order == 3,'':gameResult.order != 3}">
                        <td class="active">引き分け</td>
                        <td class="active">勝ち／負け</td>
                    </tr>

                </table>
            </div>
        </div>

    </div>


    <div ng-if="conceptStatus=='noberu'" style="height: 100%">

        <div  class="panel panel-info" style="height: 100%;overflow: auto">
            <div class="panel-heading">ヒント
            </div>
            <div class="panel-body" id="inputExampleBody">
                <p>反駁とは，相手の意見の中の異議がある部分について、判断や反論の意見を述べること。</p>
            </div>
        </div>

    </div>


    <div ng-if="conceptStatus=='state'" style="height: 100%">

        <div  class="panel panel-info" style="height: 100%;overflow: auto">
            <div class="panel-heading">ヒント
            </div>
            <div class="panel-body" id="inputExampleBody">
                <p>反駁とは，相手の意見の中の異議がある部分について、判断や反論の意見を述べること。</p>
            </div>
        </div>

    </div>


    <div ng-if="conceptStatus=='check'" style="height: 100%">

        <div  class="panel panel-info" style="height: 100%;overflow: auto"">
            <div class="panel-heading">ヒント
            </div>
            <div class="panel-body" id="inputExampleBody">
                <p>主張：その立場としての意見や考えの中で最も言いたいこと、あるいは結論。</p>
                <p>根拠：主張の正当性を支える事実。</p>
                <p>論拠：根拠が主張を支えている理由、あるいは暗黙の前提。(必ずしも明示的には示されていない)</p>
                <p>
                <p>例）「Aくんは中高時代に米国で暮らしていた。よって、Aくんは英語が話せる。」</p>
                <p>この場合の「主張」「論拠」「根拠」は以下のようになる。</p>
                <ul>
                    <li>主張：Aくんは英語が話せる</li>
                    <li>根拠：Aくんは中高時代に米国で暮らしていた</li>
                    <li>論拠：海外で暮らしていたのだから、当然現地の人たちと英語で話していたのに違いない</li>
                </ul>
                </p>
            </div>
        </div>

    </div>

    <div ng-if="conceptStatus=='kentou'" style="height: 100%">

        <div  class="panel panel-info" style="height: 100%;overflow: auto">
            <div class="panel-heading">ヒント
            </div>
            <div class="panel-body" id="inputExampleBody">
                <p>主張：その立場としての意見や考えの中で最も言いたいこと、あるいは結論。</p>
                <p>根拠：主張の正当性を支える事実。</p>
                <p>論拠：根拠が主張を支えている理由、あるいは暗黙の前提。(必ずしも明示的には示されていない)</p>
                <p>
                <p>例）「Aくんは中高時代に米国で暮らしていた。よって、Aくんは英語が話せる。」</p>
                <p>この場合の「主張」「論拠」「根拠」は以下のようになる。</p>
                <ul>
                    <li>主張：Aくんは英語が話せる</li>
                    <li>根拠：Aくんは中高時代に米国で暮らしていた</li>
                    <li>論拠：海外で暮らしていたのだから、当然現地の人たちと英語で話していたのに違いない</li>
                </ul>
                </p>
            </div>
        </div>

    </div>



</div>


