<div class="row">
    <div  class="panel panel-info">
        <div class="panel-heading">

            <span ng-click="examAnalysisResultTab(1)">同意</span>
            <span ng-click="examAnalysisResultTab(2)">拒絶</span>

        </div>
        <div class="panel-body" ng-if="examAnalysisResultTabVal == 1">
            <div class="row col-sm-12">


                <form>
                    <div class="form-group">
                        <label for="">コメント:</label>
                        <input type="email" class="form-control" ng-model="examAnalysisResultComment" placeholder="素晴らしい">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="approval()" >同意</button>
                </form>
            </div>
        </div>


        <div class="panel-body" ng-if="examAnalysisResultTabVal == 2">
            <div class="row col-sm-12">


                <form>
                    <div class="form-group">
                        <label for="">拒絶理由:</label>
                        <input type="email" class="form-control" ng-model="examAnalysisResultComment" placeholder="想像したものと違います">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="refuse()">送信</button>
                </form>
            </div>
        </div>



    </div>
</div>

