



<div>

                        <div class="row">


                        <div class="radio col-sm-8">
                            <label><input type="radio" value="1" ng-model="examAnalysisResultTabVal">分析結果に同意する</label>
                            <label><input type="radio" value="2" ng-model="examAnalysisResultTabVal">分析結果に同意しない</label>
                        </div>


                        <div class="form-group col-sm-8" ng-show="examAnalysisResultTabVal == 1">
                            <input type="hidden" class="form-control" ng-model="examAnalysisResultComment" placeholder="うまく分析できましたよね">
                        </div>

                        <div class="form-group col-sm-8" ng-show="examAnalysisResultTabVal == 2">コメント（同意できない箇所をお書きください）
                            <input type="text" class="form-control" ng-model="examAnalysisResultComment" placeholder="例）私の主張には「XX」という根拠が書かれていると思います。">
                        </div>

                        <div class="form-group col-sm-4">
                            <button type="button" class="btn btn-default" ng-click="submit()">送信</button>
                        </div>

                        </div>



</div>










