<div class="row" style="" >
    <div class="row">
    <div  class="panel panel-info ">
        <div class="panel-heading" style="height:40px;">
            <div class="pull-left">
                <span>
                    論題:{{debateInfo.title}}
                </span>
            </div>

            <div class="pull-right">
                <a href="/release/group">戻る</a>
                <a href="/release/logout">ログアウト</a>
                <a ng-click="leave()">退室</a>
            </div>
        </div>
        <div class="panel-body" style="padding: 12px;">


            <div class="row col-sm-4">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-click="changeTab(0)"><a href="#">討論情報</a></li>
                    </ul>
                    <div class="row" style="height: 220px;overflow: auto">
                    <info-table></info-table>
                    </div>
                </div>
            </div>

            <div class="row col-sm-8">
                <ul class="nav nav-tabs" style="">
                    <li role="presentation" ng-click="changeTab(0)"><a href="#">マップ</a></li>
                    <li role="presentation" ng-click="changeTab(1)"><a href="#">ログ</a></li>
                    <li role="presentation" ng-click="changeTab(3)"><a href="#">主張情報</a></li>
                    <li role="presentation" ng-click="changeTab(5)"><a href="#">テスト用マップ</a></li>
                </ul>

                <div class="panel" style="height:220px;overflow:auto">
                    <div ng-show="changeTabVal==0"><analysis-map-result2></analysis-map-result2></div>
                    <div ng-show="changeTabVal==1"><statement-map-result></statement-map-result></div>

                    <div ng-show="changeTabVal==3"><top-article></top-article></div>
                    <div ng-show="changeTabVal==5"><analysis-map-result3></analysis-map-result3></div>
                </div>
            </div>


        </div>
    </div>
    </div>
</div>


