<table class="table" style="width: 95%;margin-top:1px;float: left">
    <tr class="info">
        <td width="20%">あなた</td>
        <td colspan="3">{{debateInfo.username}}
            <span ng-if="debateInfo.position == 1">(肯定側)</span>
            <span ng-if="debateInfo.position == 2">(否定側)</span>
        </td>
    </tr>
    <tr class="active">

        <td width="15%">肯定側
        </td>
        <td width="30%">
            <input ng-show="debateInfo.pro == debateInfo.username" ng-blur="cyousi()" ng-model="cyousiVal" type="text" class="form-control"  value="現在いい調子です" placeholder="よろしくお願いします">
            <p ng-show="debateInfo.con == debateInfo.username">
                <span ng-show="!proCyousi">よろしくお願いします</span>
                <span ng-show="proCyousi">{{proCyousi}}</span>

            </p>


        </td>

    </tr>
    <tr class="success">


        <td width="15%">否定側
        </td>
        <td>

            <input ng-show="debateInfo.con == debateInfo.username" ng-blur="cyousi()" ng-model="cyousiVal" type="text" class="form-control"  value="現在いい調子です" placeholder="よろしくお願いします">
            <p ng-show="debateInfo.pro == debateInfo.username">
                <span ng-show="!conCyousi">よろしくお願いします</span>
                <span ng-show="conCyousi">{{conCyousi}}</span>
            </p>
        </td>
    </tr>


    <tr class="active">
        <td>時間制限</td>
        <td>なし</td>
    </tr>

    <tr class="success">
        <td>回数</td>
        <td>1回</td>
    </tr>

    <tr class="success">
        <td>分析機能</td>
        <td>
            <span ng-show="debateInfo.analysisFunc == 1">あり</span>
            <span ng-show="debateInfo.analysisFunc == 0">なし</span>
        </td>
    </tr>

    <tr class="success">
        <td>マップ機能</td>
        <td>
            <span ng-show="debateInfo.mapFunc == 1">あり</span>
            <span ng-show="debateInfo.mapFunc == 0">なし</span>
        </td>
    </tr>



    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'start'}">
        <td colspan="4">
            <span>肯定側と否定側は準備でき、肯定側が意見を述べています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'analysis' && !debateInfo.preFinish}">
        <td colspan="4">
            <span>肯定側が意見を述べました,否定側は肯定側の意見を分析しています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'check'  && !debateInfo.preFinish}">
        <td colspan="4">
            <span>否定側は分析結果をだしました、肯定側は分析結果を検討しています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'appeal'}">
        <td colspan="4">
            <span>肯定側は意見を同意しました、否定側は異議をつけています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'state'}">
        <td colspan="4">
            <span>否定側は異議をつけました、否定側は異議説明また意見を述べています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'bunseki'}">
        <td colspan="4">
            <span>否定側は異議説明また意見を出しました、肯定側は異議説明また意見を分析しています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'kentou'}">
        <td colspan="4">
            <span>肯定側は分析結果をだしました、否定側は分析結果を検討しています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'lookup'}">
        <td colspan="4">
            <span>否定側は意見を同意しました、肯定側は異議をつけています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'noberu'}">
        <td colspan="4">
            <span>肯定側は異議をつけました、肯定側は異議説明また意見を述べています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'analysis' && debateInfo.preFinish}">
        <td colspan="4">
            <span>肯定側が意見を述べました,否定側は肯定側の意見を分析しています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'check'  && debateInfo.preFinish}">
        <td colspan="4">
            <span>否定側は分析結果をだしました、肯定側は分析結果を検討しています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 1" ng-class="{'warning':debateInfo.status == 'finish'}">
        <td colspan="4">
            <span>終了</span>
        </td>
    </tr>


    <tr  ng-show="debateInfo.analysisFunc == 0" ng-class="{'warning':debateInfo.status == 'noAnalysisStart'}">
        <td colspan="4">
            <span>肯定側の方が立論しています</span>
        </td>
    </tr>

    <tr ng-show="debateInfo.analysisFunc == 0"  ng-class="{'warning':debateInfo.status == 'noAnalysisFuncAppealAndState'}">
        <td colspan="4">
            <span>否定側の方は立論また反駁しています</span>
        </td>
    </tr>

    <tr  ng-show="debateInfo.analysisFunc == 0" ng-class="{'warning':debateInfo.status == 'noAnalysisfinish'}">
        <td colspan="4">
            <span>終了</span>
        </td>
    </tr>


</table>





<img ng-click="expand()" style="width:5%;margin-top:80px;cursor: pointer" src="/release/expand.png" alt="">

