<div  class="panel panel-info"  id="analysisResult">
    <div ng-show="analysisObject.target!='preview'"   ng-show="everyStatementData">
        <div>
            <p class="alert alert-warning" style="margin-bottom:2px;">相手の意見を「主張」,「根拠」,「論拠」に分析してください</p>
            <div>
                    <div class="panel-body" style="padding: 1px"  ng-show="analysisObject.target == 'construct'" id="claimBody" >
                    <!--<div class="alert alert-default" role="alert">{{everyStatementData.dissentExplain[i].reply}}</div>-->
                    <span>相手の立論:</span>
                    <div class="panel panel-default" style="margin-bottom:3px;padding:1px;overflow: auto;">
                    <p>{{everyStatementData.statementData}}</p>
                    </div>
                    </div>


                    <div class="panel-body" style="padding:1px;" ng-show="analysisObject.target == 'dissentExplain'"  ng-repeat="(i,val) in everyStatementData.dissentExplain track by $index">
                    <span ng-show="analysisObject.i == i">相手の反駁:</span>
                    <div class="panel panel-default" style="margin-bottom:3px;padding:1px;" ng-show="analysisObject.i == i">
                    <br/>{{everyStatementData.dissentExplain[i].reply}}
                    </div>
                    </div>
                    </div>
        </div>

        <div style="height:60%;overflow: auto" id="ak47">
            <div ng-show="analysisObject.target == 'construct'">
                                                                   <div ng-show="analysisData.analysisResult[inputStatus.i].claim">
                                                                   <div ng-class="(inputStatus.name == 'evidence' || inputStatus.name == 'newEvidence')?'panel alert-warning col-sm-12':'panel panel-default col-sm-12'" style="margin-bottom:3px;padding:1px;" >
                                                                   主張:{{analysisData.analysisResult[inputStatus.i].claim}}
                                                                   </div>

                                                                   <div ng-repeat="(n,val) in analysisData.analysisResult[inputStatus.i].support track by $index">
                                                                   <div ng-show="val.warrant" class="panel panel-default col-sm-11 col-sm-offset-1"  style="margin-bottom:3px;padding:1px;">
                                                                   論拠:{{val.warrant}}
                                                                   </div>


                                                                   <div ng-show="val.evidence"  ng-class="(inputStatus.name == 'warrant' && inputStatus.j == n)?'panel alert-warning col-sm-10 col-sm-offset-2':'panel panel-default col-sm-10 col-sm-offset-2'" style="margin-bottom:3px;padding:1px;">
                                                                   根拠:{{val.evidence}}
                                                                   </div>
                                                                   </div>
                                                                   </div>
                                                                   </div>


            <div ng-show="analysisObject.target == 'dissentExplain'">
                                                                        <div ng-show="analysisDissentExplainData[analysisObject.i].analysisResult[inputStatus.i].claim">
                                                                        <div ng-class="(inputStatus.name == 'evidence' || inputStatus.name == 'newEvidence')?'panel alert-warning col-sm-12':'panel panel-default col-sm-12'" style="margin-bottom:3px;padding:1px;" >
                                                                        主張:{{analysisDissentExplainData[analysisObject.i].analysisResult[inputStatus.i].claim}}
                                                                        </div>

                                                                        <div ng-repeat="(n,val) in analysisDissentExplainData[analysisObject.i].analysisResult[inputStatus.i].support track by $index">
                                                                        <div ng-show="val.warrant" class="panel panel-default col-sm-11 col-sm-offset-1"  style="margin-bottom:3px;padding:1px;">
                                                                        論拠:{{val.warrant}}
                                                                        </div>


                                                                        <div ng-show="val.evidence"  ng-class="(inputStatus.name == 'warrant' && inputStatus.j == n)?'panel alert-warning col-sm-10 col-sm-offset-2':'panel panel-default col-sm-10 col-sm-offset-2'" style="margin-bottom:3px;padding:1px;">
                                                                        根拠:{{val.evidence}}
                                                                        </div>
                                                                        </div>
                                                                        </div>
                                                                        </div>


            <div class="panel-body" ng-if="inputStatus.name == 'claim' && inputStatus.i == 0">
                                                                                                 <!--  第一个claim -->
                                                                                                 <div class="row col-sm-12">
                                                                                                 <label  ng-if="analysisObject.target == 'construct'">
                                                                                                 まずは、相手の立論の「主張」をあげてください。<br/>
                                                                                                     主張が複数ある場合は一つ目の主張を書いてください。あとで追加できます。
                                                                                                 </label>

                                                                                                 <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                                                     まずは、相手の{{(analysisObject.i+1)}}番目の反駁の「主張」をあげてください。<br/>
                                                                                                     主張が複数ある場合は一つ目の主張を書いてください。あとで追加できます。
                                                                                                 </label>
                                                                                                 </div>
                                                                                                 </div>

            <div class="panel-body" ng-if="inputStatus.name == 'claim' && inputStatus.i != 0">
                                                                                                 <!-- 非第一个claim -->
                                                                                                 <div class="row col-sm-7">
                                                                                                 <label  ng-if="analysisObject.target == 'construct'">
                                                                                                     相手の立論の「主張」をあげてください。<br/>
                                                                                                     主張がまだ複数ある場合は一つずつ主張を書いてください。あとで追加できます。
                                                                                                 </label>

                                                                                                 <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                                                     相手の{{(analysisObject.i+1)}}番目の反駁の「主張」をあげてください。<br/>
                                                                                                     主張がまだ複数ある場合は一つずつ主張を書いてください。あとで追加できます。
                                                                                                 </label>
                                                                                                 </div>

                                                                                                 <div class="row col-sm-5">
                                                                                                 <button  type="button" class=" btn btn-default pull-left" ng-click="noFirstClaim()">キャンセル</button>
                                                                                                 </div>
                                                                                                 </div>


            <div class="panel-body" ng-if="inputStatus.name == 'evidence'">
                                                                              <div class="row col-sm-9">
                                                                              <label  ng-if="analysisObject.target == 'construct'">
                                                                              次に、この主張の「根拠」をあげてください。<br/>
                                                                                  根拠が複数ある場合は一つずつ根拠を書いてください。あとで追加できます。
                                                                              </label>

                                                                              <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                              次に、この主張の「根拠」をあげてください。<br/>
                                                                                  根拠が複数ある場合は一つずつ根拠を書いてください。あとで追加できます。
                                                                              </label>
                                                                              </div>

                                                                              <div class="row col-sm-3">
                                                                              <button type="button" class=" btn btn-default pull-left" ng-click="noCurrentEvidence()">この主張に「根拠」は無い</button>
                                                                              </div>
                                                                              </div>


            <div class="panel-body" ng-if="inputStatus.name == 'warrant'">
                                                                             <div class="row col-sm-9">
                                                                             <label  ng-if="analysisObject.target == 'construct'">
                                                                             続いて、この根拠の「論拠」をあげてください。<br/>
                                                                                 （論拠は追加で複数記入できませんので、この欄に全てをご記入ください）
                                                                             </label>

                                                                             <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                             続いて、この根拠の「論拠」をあげてください<br/>
                                                                                 （論拠は追加で複数記入できませんので、この欄に全てをご記入ください）
                                                                             </label>
                                                                             </div>

                                                                             <div class="row col-sm-3">
                                                                             <button  type="button" class=" btn btn-default pull-left" ng-click="noCurrentWarrant()">この根拠に「論拠」は無い</button>
                                                                             </div>

                                                                             </div>

            <div class="panel-body" ng-if="inputStatus.name == 'newEvidence'">

                                                                                 <div class="row col-sm-12">
                                                                                 <label  ng-if="analysisObject.target == 'construct'">
                                                                                 この主張の「根拠」が他にありますか？<br/>
                                                                                 </label>

                                                                                 <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                                     この主張の「根拠」が他にありますか？<br/>
                                                                                 </label>
                                                                                 </div>

                                                                                 <div class="row col-sm-12">

                                                                                 <div class=" col-sm-6">
                                                                                 <button  type="button" class="btn btn-default pull-left" ng-click="setNewEvidence()">まだある</button>
                                                                                 </div>


                                                                                 <div class=" col-sm-6">
                                                                                 <button  type="button" class="btn btn-default pull-left" ng-click="noEvidence()">もうない</button>
                                                                                 </div>

                                                                                 </div>

                                                                                 </div>


            <div class="panel-body" ng-if="inputStatus.name == 'newClaim'">
                                                                              <div class="row col-sm-12">
                                                                              <label  ng-if="analysisObject.target == 'construct'">
                                                                              相手の立論に新しい主張はありますか？
                                                                              </label>

                                                                              <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                              相手の{{(analysisObject.i+1)}}番目の反駁に新しい主張はありますか？
                                                                              </label>
                                                                              </div>

                                                                              <div class="row col-sm-12">

                                                                              <div class=" col-sm-6">
                                                                              <button  type="button" class="btn btn-default pull-left" ng-click="setNewClaim()">まだある</button>
                                                                              </div>


                                                                              <div class=" col-sm-6">
                                                                              <button  type="button" class="btn btn-default pull-left" ng-click="noClaim()">もうない</button>
                                                                              </div>

                                                                              </div>

                                                                              </div>

            <div style="clear: both"></div>


            <div ng-show="inputStatus.name != 'newClaim' && inputStatus.name != 'newEvidence'">
                  <textarea class="form-control" rows="4" ng-model="_contents" ng-focus="focus()" ng-blur="blur()" ng-change="inputing()" ></textarea>
                  <p>
                  <span ng-if="data1Success==0">入力必須</span>
                  <button type="button" class="btn btn-default pull-right" ng-click="output()" >次へ</button>
                  </p>
                  </div>
            </div>


    </div>

    <div ng-show="analysisObject.target=='preview'"  class="panel" >

        <div class="row" class="analysisResult" style="height: 250px;width:96%;margin:0 auto;overflow: auto">
            <analysis-result2></analysis-result2>
            <!--<analysis-result></analysis-result>-->
        </div>

        <div class="row" style="width:96%;margin: 0 auto">
            <button class="btn btn-default pull-right" ng-click="submit()">送信</button>
        </div>

    </div>

</div>








