<div class="row" ng-show="LAN=='JP'">
    <div  class="panel panel-info">
        <div class="panel-body" >
            <div class="row col-sm-4">
                <concept></concept>
            </div>

            <div class="row col-sm-1"></div>

            <div class="row col-sm-7">
                <div  class="panel panel-info">
                    <div class="panel-heading"><span style="cursor:pointer" ng-click="changeInputTab()">入力</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="cursor:pointer"  ng-click="changeInputTab()">再投稿のお願い</span></div>
                    <div class="panel-body" id="inputBody" ng-show="inputFormAreachangeInputTabVal == 1">


                        <div  ng-if="inputStatus.name == 'claim' && inputStatus.i == 0">

                            <div class=" col-sm-12  alert alert-warning"   role="alert">
                                <a href="#" class="alert-link">

                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        異議説明({{(analysisObject.i+1)}}) を分析してください
                                    </label>
                                    |
                                    相手の結論に主張を見つかりませんか
                                </a>
                            </div>

                            <div class=" col-sm-3">
                                <!--<button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noClaim()">主張なし</button>-->
                            </div>

                        </div>

                        <div  ng-if="inputStatus.name == 'claim' && inputStatus.i != 0">

                            <div class=" col-sm-7  alert alert-warning"   role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        異議説明({{(analysisObject.i+1)}}) を分析してください
                                    </label>
                                    |
                                    相手の結論に主張を見つけましょう</a>
                            </div>

                            <div class=" col-sm-5">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noClaim()">諦めそのまま送信</button>
                            </div>

                        </div>




                        <div ng-if="inputStatus.name == 'evidence'">
                            <div class=" col-sm-9 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        異議説明({{(analysisObject.i+1)}}) を分析してください
                                    </label>
                                    |
                                    この主張を支えるための根拠を見つけましょう</a>
                            </div>
                            <div class=" col-sm-3">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noEvidence()">根拠諦め</button>
                            </div>
                        </div>



                        <div ng-if="inputStatus.name == 'warrant'">
                            <div class=" col-sm-9 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        異議説明({{(analysisObject.i+1)}}) を分析してください
                                    </label>
                                    |
                                    どうしてその根拠が理由として主張を支えていますか?論拠を文章から掘り出してくださいまた自分で考えてください</a>
                            </div>
                            <div class=" col-sm-3">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noWarrant()">論拠諦め</button>
                            </div>
                        </div>

                        <div ng-if="inputStatus.name == 'newEvidence'">
                            <div class=" col-sm-12 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        異議説明({{(analysisObject.i+1)}}) を分析してください
                                    </label>
                                    |
                                    この文章に新しい根拠がまたありますか?</a>
                            </div>

                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="setNewEvidence()">またある</button>
                            </div>


                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noEvidence()">もうない</button>
                            </div>
                        </div>

                        <div ng-if="inputStatus.name == 'newClaim'">
                            <div class=" col-sm-12 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        異議説明({{(analysisObject.i+1)}}) を分析してください
                                    </label>
                                    |
                                    この文章に新しい主張がまたありますか?</a>
                            </div>


                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="setNewClaim()">またある</button>
                            </div>


                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noClaim()">もうないそのまま送信する</button>
                            </div>
                        </div>


                        <div style="clear: both"></div>
                        <div ng-show="inputStatus.name != 'newClaim' && inputStatus.name != 'newEvidence'">

                            <label  ng-if="inputStatus.name == 'claim'">主張:</label>
                            <label  ng-if="inputStatus.name == 'evidence' || inputStatus.name == 'newEvidence'">根拠:</label>
                            <label  ng-if="inputStatus.name == 'warrant'">論拠:</label>




                            <textarea class="form-control" rows="7" ng-model="contents" ></textarea>
                            <p>

                                <span ng-if="dataSucess==0">入力項目が必須</span>
                                <button type="button" class="btn btn-default pull-right" ng-click="output()" >次へ</button>
                            </p>
                        </div>



                    </div>
                    <div class="panel-body" id="inputBody2" ng-show="inputFormAreachangeInputTabVal == 0">

                        <div >
                            <div class=" col-sm-12 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">相手の立論を再投稿をお願いしますか?</a>
                            </div>

                        </div>


                        <div style="clear: both"></div>
                        <div>
                            <label>再投稿お願いの理由を書いてください:</label>
                            <textarea class="form-control" rows="7" ng-model="requestContentReason" ></textarea>
                            <p>
                                <span ng-if="dataSucessOfRequestTwice==0">入力項目が必須</span>
                                <button type="button" class="btn btn-default pull-right" ng-click="requestTwiceStatement()" >送信</button>
                            </p>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





















<div class="row" ng-show="LAN=='CN'">
    <div  class="panel panel-info">
        <div class="panel-body" >
            <div class="row col-sm-4">
                <concept></concept>
            </div>

            <div class="row col-sm-1"></div>

            <div class="row col-sm-7">
                <div  class="panel panel-info">
                    <div class="panel-heading"><span style="cursor:pointer" ng-click="changeInputTab()">输入</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="cursor:pointer"  ng-click="changeInputTab()">请求对方再次陈述说明</span></div>
                    <div class="panel-body" id="inputBody" ng-show="inputFormAreachangeInputTabVal == 1">
                        <div  ng-if="inputStatus.name == 'claim' && inputStatus.i == 0">

                            <div class=" col-sm-12  alert alert-warning"   role="alert">
                                <a href="#" class="alert-link">

                                    <label  ng-if="analysisObject.target == 'construct'">
                                        请先分析原始阐述说明
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        请分析质疑阐述说明({{(analysisObject.i+1)}})
                                    </label>
                                    |
                                    您找到这段文字中的主张了吗
                                </a>
                            </div>

                            <div class=" col-sm-3">
                                <!--<button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noClaim()">主張なし</button>-->
                            </div>

                        </div>

                        <div  ng-if="inputStatus.name == 'claim' && inputStatus.i != 0">

                            <div class=" col-sm-7  alert alert-warning"   role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        请先分析原始阐述说明
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        请分析质疑阐述说明({{(analysisObject.i+1)}})
                                    </label>
                                    |
                                    您找到这段文字中的主张了吗</a>
                            </div>

                            <div class=" col-sm-5">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noClaim()">没有找到主张,就这样发送</button>
                            </div>

                        </div>




                        <div ng-if="inputStatus.name == 'evidence'">
                            <div class=" col-sm-9 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        请先分析原始阐述说明
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        请分析质疑阐述说明({{(analysisObject.i+1)}})
                                    </label>
                                    |
                                    您找到这段文字中的证据了吗</a>
                            </div>
                            <div class=" col-sm-3">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noEvidence()">没有找到证据</button>
                            </div>
                        </div>



                        <div ng-if="inputStatus.name == 'warrant'">
                            <div class=" col-sm-9 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        请先分析原始阐述说明
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        请分析质疑阐述说明({{(analysisObject.i+1)}})
                                    </label>
                                    |
                                    你找到连接刚刚的主张和证据的理由了吗,如果有请从原文中摘选,如果没有你可以通过自己的思考补充</a>
                            </div>
                            <div class=" col-sm-3">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noWarrant()">没有找到理由</button>
                            </div>
                        </div>

                        <div ng-if="inputStatus.name == 'newEvidence'">
                            <div class=" col-sm-12 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        请先分析原始阐述说明
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        请分析质疑阐述说明({{(analysisObject.i+1)}})
                                    </label>
                                    |
                                    阐述说明中还有新的证据吗?</a>
                            </div>

                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="setNewEvidence()">还有</button>
                            </div>


                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noEvidence()">没有了</button>
                            </div>
                        </div>

                        <div ng-if="inputStatus.name == 'newClaim'">
                            <div class=" col-sm-12 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        请先分析原始阐述说明
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        请分析质疑阐述说明({{(analysisObject.i+1)}})
                                    </label>
                                    |
                                    阐述说明中还有新的主张吗?</a>
                            </div>


                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="setNewClaim()">还有</button>
                            </div>


                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noClaim()">没有了,进行下一步</button>
                            </div>
                        </div>


                        <div style="clear: both"></div>
                        <div ng-show="inputStatus.name != 'newClaim' && inputStatus.name != 'newEvidence'">

                            <label  ng-if="inputStatus.name == 'claim'">主张:</label>
                            <label  ng-if="inputStatus.name == 'evidence' || inputStatus.name == 'newEvidence'">证据:</label>
                            <label  ng-if="inputStatus.name == 'warrant'">理由:</label>




                            <textarea class="form-control" rows="7" ng-model="contents" ></textarea>
                            <p>

                                <span ng-if="dataSucess==0">输入必须项</span>
                                <button type="button" class="btn btn-default pull-right" ng-click="output()" >下一步</button>
                            </p>
                        </div>



                    </div>
                    <div class="panel-body" id="inputBody2" ng-show="inputFormAreachangeInputTabVal == 0">

                        <div >
                            <div class=" col-sm-12 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">您要请求对方再次阐述说明吗?</a>
                            </div>

                        </div>


                        <div style="clear: both"></div>
                        <div>
                            <label>请填写请求对方再次阐述说明的理由:</label>
                            <textarea class="form-control" rows="7" ng-model="requestContentReason" ></textarea>
                            <p>
                                <span ng-if="dataSucessOfRequestTwice==0">输入必须项</span>
                                <button type="button" class="btn btn-default pull-right" ng-click="requestTwiceStatement()" >发送</button>
                            </p>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>