





<div class=" col-sm-12 alert alert-warning" ng-show="statementStatus.name == 'dissent'"  role="alert">
    <!--<a href="#" class="alert-link">まず異議の部分を反駁してください</a>-->
    <p>異議:</p>
    <p style="color: red">{{dissentTxt}}</p>
</div>

<!--
<div class=" col-sm-12 alert alert-warning" ng-show="statementStatus.name == 'claim'"  role="alert">
    <a href="#" class="alert-link">あなたの立論を述べてください</a>
</div>
-->

<div class=" col-sm-12 alert alert-warning" ng-show="statementStatus.name == 'submit'"  role="alert">
    <a href="#" class="alert-link">以上の立論を送信しますか</a>
</div>

<label ng-show="statementStatus.name == 'dissent'" >反駁:</label>
<label ng-show="statementStatus.name == 'claim'" >立論:</label>



<textarea class="form-control" rows="7" ng-show="statementStatus.name == 'dissent' || statementStatus.name == 'claim'" ng-model="statement" ng-focus="focus()" ng-blur="blur()" ng-change="inputing()" >

</textarea>

<p>
    <span ng-if="data2Success==0">入力項目が必須</span>
    <button type="button" class="btn btn-default pull-right" ng-show="statementStatus.name == 'dissent'" ng-click="output2()" >次へ</button>
    <button type="button" ng-show="statementStatus.name == 'claim'" class="btn btn-default pull-right" ng-click="output2()" >次へ</button>
<div ng-show="statementStatus.name == 'submit'">
    <button type="button"  class="btn btn-default pull-right" ng-click="output2()" >プレビュー</button>
    <button type="button"  class="btn btn-default pull-right" ng-click="edit2('dissent',0)" >続いて編集</button>
</div>
</p>