<div  class="panel panel-info"  id="analysisResult">
    <div ng-show="analysisObject.target!='preview'"   ng-show="everyStatementData">
        <div>
            <p class="alert alert-warning" style="margin-bottom:2px;">相手の意見を主張,根拠,論拠に分析してください</p>
            <div>
                    <div class="panel-body" style="padding: 1px"  ng-show="analysisObject.target == 'construct'" id="claimBody" >
                    <!--<div class="alert alert-default" role="alert">{{everyStatementData.dissentExplain[i].reply}}</div>-->
                    <span>相手の立論:</span>
                    <div class="panel panel-default" style="margin-bottom:3px;padding:1px;overflow: auto;">
                    <p>{{everyStatementData.statementData}}</p>
                    </div>
                    </div>

                    <div class="panel-body" style="padding:1px;" ng-show="analysisObject.target == 'dissentExplain'"  ng-repeat="(i,val) in everyStatementData.dissentExplain track by $index">
                    <span>相手の反駁:</span>
                    <div class="panel panel-default" style="margin-bottom:3px;padding:1px;">
                    <br/>{{everyStatementData.dissentExplain[i].reply}}
                    </div>
                    </div>
                    </div>
        </div>

        <div style="height:60%;overflow: auto" id="ak47">
            <div ng-show="analysisObject.target == 'construct'">
                                                                   <div ng-show="analysisData.analysisResult[inputStatus.i].claim">
                                                                   <div ng-class="(inputStatus.name == 'evidence' || inputStatus.name == 'newEvidence')?'panel alert-warning col-sm-12':'panel panel-default col-sm-12'" style="margin-bottom:3px;padding:1px;" >
                                                                   主張:{{analysisData.analysisResult[inputStatus.i].claim}}
                                                                   </div>

                                                                   <div ng-repeat="(n,val) in analysisData.analysisResult[inputStatus.i].support track by $index">
                                                                   <div ng-show="val.warrant" class="panel panel-default col-sm-11 col-sm-offset-1"  style="margin-bottom:3px;padding:1px;">
                                                                   論拠:{{val.warrant}}
                                                                   </div>


                                                                   <div ng-show="val.evidence"  ng-class="(inputStatus.name == 'warrant' && inputStatus.j == n)?'panel alert-warning col-sm-10 col-sm-offset-2':'panel panel-default col-sm-10 col-sm-offset-2'" style="margin-bottom:3px;padding:1px;">
                                                                   根拠:{{val.evidence}}
                                                                   </div>
                                                                   </div>
                                                                   </div>
                                                                   </div>


            <div ng-show="analysisObject.target == 'dissentExplain'">
                                                                        <div ng-show="analysisDissentExplainData[analysisObject.i].analysisResult[inputStatus.i].claim">
                                                                        <div ng-class="(inputStatus.name == 'evidence' || inputStatus.name == 'newEvidence')?'panel alert-warning col-sm-12':'panel panel-default col-sm-12'" style="margin-bottom:3px;padding:1px;height: 80px;overflow: auto;" >
                                                                        主張:{{analysisDissentExplainData[analysisObject.i].analysisResult[inputStatus.i].claim}}
                                                                        </div>

                                                                        <div ng-repeat="(n,val) in analysisDissentExplainData[analysisObject.i].analysisResult[inputStatus.i].support track by $index">
                                                                        <div ng-show="val.warrant" class="panel panel-default col-sm-11 col-sm-offset-1"  style="margin-bottom:3px;padding:1px;height: 80px;overflow: auto;">
                                                                        論拠:{{val.warrant}}
                                                                        </div>


                                                                        <div ng-show="val.evidence"  ng-class="(inputStatus.name == 'warrant' && inputStatus.j == n)?'panel alert-warning col-sm-10 col-sm-offset-2':'panel panel-default col-sm-10 col-sm-offset-2'" style="margin-bottom:3px;padding:1px;height: 80px;overflow: auto;">
                                                                        根拠:{{val.evidence}}
                                                                        </div>
                                                                        </div>
                                                                        </div>
                                                                        </div>


            <div class="panel-body" ng-if="inputStatus.name == 'claim' && inputStatus.i == 0">
                                                                                                 <!--  第一个claim -->
                                                                                                 <div class="row col-sm-12">
                                                                                                 <label  ng-if="analysisObject.target == 'construct'">
                                                                                                 相手の立論の主張をあげてください
                                                                                                 </label>

                                                                                                 <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                                                 相手の{{(analysisObject.i+1)}}番目反駁の主張をあげてください
                                                                                                 </label>
                                                                                                 </div>
                                                                                                 </div>

            <div class="panel-body" ng-if="inputStatus.name == 'claim' && inputStatus.i != 0">
                                                                                                 <!-- 非第一个claim -->
                                                                                                 <div class="row col-sm-7">
                                                                                                 <label  ng-if="analysisObject.target == 'construct'">
                                                                                                 相手の立論の主張をあげてください
                                                                                                 </label>

                                                                                                 <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                                                 相手の{{(analysisObject.i+1)}}番目反駁の主張をあげてください
                                                                                                 </label>
                                                                                                 </div>

                                                                                                 <div class="row col-sm-5">
                                                                                                 <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noFirstClaim()">主張締め</button>
                                                                                                 </div>
                                                                                                 </div>


            <div class="panel-body" ng-if="inputStatus.name == 'evidence'">
                                                                              <div class="row col-sm-9">
                                                                              <label  ng-if="analysisObject.target == 'construct'">
                                                                              相手の立論に書かれているこの主張の根拠をあげてください
                                                                              </label>

                                                                              <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                              相手の{{(analysisObject.i+1)}}番目反駁に書かれているこの主張の根拠をあげてください
                                                                              </label>
                                                                              </div>

                                                                              <div class="row col-sm-3">
                                                                              <button type="button" class="btn-lg btn btn-default pull-left" ng-click="noCurrentEvidence()">根拠締め</button>
                                                                              </div>
                                                                              </div>


            <div class="panel-body" ng-if="inputStatus.name == 'warrant'">
                                                                             <div class="row col-sm-9">
                                                                             <label  ng-if="analysisObject.target == 'construct'">
                                                                             相手の立論に書かれているこの根拠の論拠をあげてください
                                                                             </label>

                                                                             <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                             相手の{{(analysisObject.i+1)}}番目反駁に書かれているこの根拠の論拠をあげてください
                                                                             </label>
                                                                             </div>

                                                                             <div class="row col-sm-3">
                                                                             <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noCurrentWarrant()">論拠締め</button>
                                                                             </div>

                                                                             </div>

            <div class="panel-body" ng-if="inputStatus.name == 'newEvidence'">

                                                                                 <div class="row col-sm-12">
                                                                                 <label  ng-if="analysisObject.target == 'construct'">
                                                                                 相手の立論に書かれているこの主張に新しい根拠あればあげてください
                                                                                 </label>

                                                                                 <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                                 相手の{{(analysisObject.i+1)}}番目反駁に書かれている主張に新しい根拠があればあげてください
                                                                                 </label>
                                                                                 </div>

                                                                                 <div class="row col-sm-12">

                                                                                 <div class=" col-sm-6">
                                                                                 <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="setNewEvidence()">またある</button>
                                                                                 </div>


                                                                                 <div class=" col-sm-6">
                                                                                 <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noEvidence()">なし</button>
                                                                                 </div>

                                                                                 </div>

                                                                                 </div>


            <div class="panel-body" ng-if="inputStatus.name == 'newClaim'">
                                                                              <div class="row col-sm-12">
                                                                              <label  ng-if="analysisObject.target == 'construct'">
                                                                              相手の立論に新しい主張があればあげてください
                                                                              </label>

                                                                              <label  ng-if="analysisObject.target == 'dissentExplain'">
                                                                              相手の{{(analysisObject.i+1)}}番目反駁に新しい主張があればあげてください
                                                                              </label>
                                                                              </div>

                                                                              <div class="row col-sm-12">

                                                                              <div class=" col-sm-6">
                                                                              <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="setNewClaim()">またある</button>
                                                                              </div>


                                                                              <div class=" col-sm-6">
                                                                              <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noClaim()">なし</button>
                                                                              </div>

                                                                              </div>

                                                                              </div>

            <div style="clear: both"></div>


            <div ng-show="inputStatus.name != 'newClaim' && inputStatus.name != 'newEvidence'">
                  <textarea class="form-control" rows="4" ng-model="_contents" ng-focus="focus()" ng-blur="blur()" ng-change="inputing()" ></textarea>
                  <p>
                  <span ng-if="data1Success==0">入力必須</span>
                  <button type="button" class="btn btn-default pull-right" ng-click="output()" >次へ</button>
                  </p>
                  </div>
            </div>


    </div>

    <div ng-show="analysisObject.target=='preview'"  class="panel" >
        <div class="row" class="analysisResult" style="height: 320px;width:96%;margin:0 auto;overflow: auto">
            <analysis-result2></analysis-result2>
            <!--<analysis-result></analysis-result>-->
        </div>

        <div class="row" style="width:96%;margin: 0 auto">
            <button class="btn btn-default pull-right" ng-click="submit()">送信</button>
        </div>

    </div>

<!--
                    <div class="panel-body" id="inputBody">
                        <div  ng-if="inputStatus.name == 'claim' && inputStatus.i == 0">

                            <div class="col-sm-12  alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">

                                    <label  ng-if="analysisObject.target == 'construct'">
                                        相手の意見の主張をあげてください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        相手の異議説明({{(analysisObject.i+1)}})の主張をあげてください
                                    </label>
                                </a>
                            </div>

                            <div class=" col-sm-3">
                            </div>

                        </div>

                        <div  ng-if="inputStatus.name == 'claim' && inputStatus.i != 0">

                            <div class=" col-sm-7  alert alert-warning"   role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        異議説明({{(analysisObject.i+1)}}) を分析してください
                                    </label>
                                    |
                                    相手の意見に主張を見つかりませんか</a>
                            </div>

                            <div class=" col-sm-5">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noFirstClaim()">主張締め</button>
                            </div>

                        </div>




                        <div ng-if="inputStatus.name == 'evidence'">
                            <div class=" col-sm-9 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        異議説明({{(analysisObject.i+1)}}) を分析してください
                                    </label>
                                    |
                                    相手の意見に根拠を見つかりませんか
                                    </a>
                            </div>
                            <div class=" col-sm-3">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noCurrentEvidence()">根拠締め</button>
                            </div>
                        </div>



                        <div ng-if="inputStatus.name == 'warrant'">
                            <div class=" col-sm-9 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        请分析质疑阐述说明({{(analysisObject.i+1)}})
                                    </label>
                                    |
                                    どうしてその根拠が理由として主張を支えていますか?論拠を文章から掘り出してくださいまた自分で考えてください</a>
                            </div>
                            <div class=" col-sm-3">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noCurrentWarrant()">論拠締め</button>
                            </div>
                        </div>

                        <div ng-if="inputStatus.name == 'newEvidence'">
                            <div class=" col-sm-12 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        请分析质疑阐述说明({{(analysisObject.i+1)}})
                                    </label>
                                    |
                                    この文章に新しい根拠がまたありますか?</a>
                            </div>

                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="setNewEvidence()">またある</button>
                            </div>


                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noEvidence()">なし</button>
                            </div>
                        </div>

                        <div ng-if="inputStatus.name == 'newClaim'">
                            <div class=" col-sm-12 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">
                                    <label  ng-if="analysisObject.target == 'construct'">
                                        立論を分析してください
                                    </label>

                                    <label  ng-if="analysisObject.target == 'dissentExplain'">
                                        请分析质疑阐述说明({{(analysisObject.i+1)}})
                                    </label>
                                    |
                                    この文章に新しい主張がまたありますか?</a>
                            </div>


                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="setNewClaim()">またある</button>
                            </div>


                            <div class=" col-sm-6">
                                <button  type="button" class="btn-lg btn btn-default pull-left" ng-click="noClaim()">なし</button>
                            </div>
                        </div>


                        <div style="clear: both"></div>
                        <div ng-show="inputStatus.name != 'newClaim' && inputStatus.name != 'newEvidence'">

                            <label  ng-if="inputStatus.name == 'claim'">主張:</label>
                            <label  ng-if="inputStatus.name == 'evidence' || inputStatus.name == 'newEvidence'">根拠:</label>
                            <label  ng-if="inputStatus.name == 'warrant'">論拠:</label>




                            <textarea class="form-control" rows="7" ng-model="_contents" ></textarea>
                            <p>
                                <span ng-if="data1Success==0">入植必須</span>
                                <button type="button" class="btn btn-default pull-right" ng-click="output()" >次へ</button>
                            </p>
                        </div>



                    </div>
                    <div class="panel-body" id="inputBody2" ng-show="inputFormAreachangeInputTabVal == 0">

                        <div >
                            <div class=" col-sm-12 alert alert-warning"  role="alert">
                                <a href="#" class="alert-link">相手の立論を再投稿をお願いしますか?</a>
                            </div>

                        </div>


                        <div style="clear: both"></div>
                        <div>
                            <label>投稿お願いの理由を書いてください:</label>
                            <textarea class="form-control" rows="7" ng-model="requestContentReason" ></textarea>
                            <p>
                                <span ng-if="data1Success==0">入力項目が必須</span>
                                <button type="button" class="btn btn-default pull-right" ng-click="requestTwiceStatement()" >送信</button>
                            </p>
                        </div>



                    </div>
-->
</div>








