<div class="row" ng-if="LAN=='JP'">
    <div class="alert alert-warning" role="alert">あなたの主張が再投稿お願いされた</div>
    <div class="alert alert-danger" role="alert">
        <a href="#" class="alert-link">理由:{{requestStatementMessage}}</a>
    </div>
    <my-input-form input-message="inputMessage"></my-input-form>
</div>

<div class="row" ng-if="LAN=='CN'">
    <div class="alert alert-warning" role="alert">对方请求你重新提交你的结论阐述</div>
    <div class="alert alert-danger" role="alert">
        <a href="#" class="alert-link">理由:{{requestStatementMessage}}</a>
    </div>
    <my-input-form input-message="inputMessage"></my-input-form>
</div>