<div style="height:800px;overflow:auto" ng-if="LAN=='JP'">
    <div class="panel panel-default" ng-repeat="val in getDebateFinishList">
        <div class="panel-heading">
            <h3 class="panel-title">{{val.title}}</h3>
        </div>
        <div class="panel-body">
            {{val.desc}}
            <table class="table table-condensed">
                <tr class="active"><td class="info">賛成</td><td class="info">{{val.pro}}</td> <td class="success">反対</td><td class="success">{{val.con}}</td> <td>回数</td><td>{{val.config.timeNumbers}}回</td><td>時間制限</td><td ng-show="val.config.timeLimit == 0">なし</td><td ng-show="val.config.timeLimit!=0">{{val.config.timeLimitValDefault}}</td></tr>
            </table>
            <div class="pull-right">
                <a  ng-click="reviewRoom(val.num,val.rNum)" class="btn btn-info ">
                    <span class="glyphicon glyphicon-floppy-save"></span><br>振り返る
                </a>
            </div>

        </div>
    </div>
</div>


<div style="height:800px;overflow:auto" ng-if="LAN=='CN'">
    <div class="panel panel-default" ng-repeat="val in getDebateFinishList">
        <div class="panel-heading">
            <h3 class="panel-title">{{val.title}}</h3>
        </div>
        <div class="panel-body">
            {{val.desc}}
            <table class="table table-condensed">
                <tr class="active"><td class="info">正方</td><td class="info">{{val.pro}}</td> <td class="success">反方</td><td class="success">{{val.con}}</td> <td>总次数</td><td>{{val.config.timeNumbers}}次</td><td>时间限制</td><td ng-show="val.config.timeLimit == 0">无</td><td ng-show="val.config.timeLimit!=0">{{val.config.timeLimitValDefault}}</td></tr>
            </table>
            <div class="pull-right">
                <a  ng-click="reviewRoom(val.num,val.rNum)" class="btn btn-info ">
                    <span class="glyphicon glyphicon-floppy-save"></span><br>回顾这次的辩论
                </a>
            </div>

        </div>
    </div>
</div>