<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testForm</title>
    <script src="/tmp/jquery-2.2.4.min.js" ></script>
    <script src="/_debate/d3/d3.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/tmp/angular.min.js"></script>
    <style>
        #claim{
            height:250px;
        }

        #claimBody{
            height:200px;
        }

        #resultForm{
            height: 400px;
        }

        #resultFormBody{
            height:380px;
        }



        #input{
            height: 380px;
        }


        #inputBody{
            height:360px;
        }

    </style>
</head>
<body ng-app="myChat">
<div class="container "  ng-controller="chat" >

    <div class="row">
    <nav class="navbar navbar-default" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/debateCN/group#/theme">辩论</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">辩论中<span class="sr-only">(current)</span></a></li>
                    <li><a href="/debateCN/review">回顾</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="王宝强经得起推敲吗?">
                    </div>
                    <button type="button" ng-click="changeTab()" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">你好:</a></li>
                    <li><a href="#" >个人页面</a></li>
                    <!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    </div>


        <div class="row" id="claim">
            <div class="row">
                <div  class="panel panel-info">
                    <div class="panel-heading">文章</div>
                    <div class="panel-body" id="claimBody">
                        主張内容:我们围绕“中国的农业合作化运动是否正确选择”问题来简介图尔敏论证模型。对于农业合作化，一些人坚定地肯定，任何事实都不会动摇这些人肯定农业合作化的看法。另一些人，如陈小默，坚定地否定，任何事实也不会动摇这些人否定农业合作化的看法。
                        根据图尔敏的观点，论证不可能改变那些坚定分子。但是论证会使处于二者中间的不坚定分子感到某种观点是普乐好的（plausible）。
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="set1==1">

        <div class="row" id="resultForm">
           <div class="row">
               <div  class="panel panel-info">
                   <div class="panel-body" id="resultFormBody">
                      <p>分析結果:</p>
                        <analysis-result prepareId="fc9620"></analysis-result>
                   </div>
               </div>
           </div>
        </div>



        <div class="row" id="input">
            <bottom-input></bottom-input>
        </div>

        </div>


        <div ng-if="set2 == 1">

            <div class="row" id="resultStatement">
               <div class="row">
                <div  class="panel panel-info">
                    <div class="panel-body" id="resultFormBody">
                        <p id="scoll">
                            <span ng-click="changeAnalysisAndStatementTab(1)" style="cursor: pointer">立論結果</span>
                            &nbsp;&nbsp;&nbsp;
                            <span ng-click="changeAnalysisAndStatementTab(0)" style="cursor: pointer">分析結果</span>
                        </p>
                        <statement-result ng-show="changeAnalysisAndStatementTabValue==1"></statement-result>
                        <!--<analysis-result prepareId="k86fg" ng-show="changeAnalysisAndStatementTabValue==0"></analysis-result>-->
                    </div>
                </div>
               </div>
            </div>


            <div class="row" id="input2">
                <bottom-input2></bottom-input2>
            </div>

        </div>




</div>


    <script>



                var myApp = angular.module("myChat",[])

                myApp.controller("chat",function($scope,$rootScope){

                    //临时变量
                    $scope.set1 = 0
                    $scope.set2 = 1


                    $scope.changeTab = function(){
                        $scope.set1 = ($scope.set1 + 1)%2
                        $scope.set2 = ($scope.set2 + 1)%2

                        init()

                    }

                    $scope.changeAnalysisAndStatementTabValue = 1
                    $scope.changeAnalysisAndStatementTab = function () {
                        $scope.changeAnalysisAndStatementTabValue = ($scope.changeAnalysisAndStatementTabValue + 1) % 2

                        if($scope.changeAnalysisAndStatementTabValue == 0){
                            $scope.analysisData = {txt:"Tシャツの相場は、500円から高くても4000円。対して、100,000円のTシャツなんて誰も買うわけがない。同じお金があれば、コート、カバン、時計、アクセサリーを買うに違いない。",analysisResult:[
                                {claim:"じお金があれば、コート、カバン、時計、アクセサリ",cDissent:1,support:[
                                    {evidence:"じお金があれば、コート、カバン、時計、アクセサリ",eDissent:1,warrant:"じお金があれば、コート、カバン、時計、アクセサリ",wDissent:1},
                                ]},
                            ]}
                        }

                        $rootScope.$broadcast('analysisInit',{});
                    }

                    $scope.click = 0
                    function init(){
                       console.log("init.....")
                       $scope.analysisData = {txt:"Tシャツの相場は、500円から高くても4000円。対して、100,000円のTシャツなんて誰も買うわけがない。同じお金があれば、コート、カバン、時計、アクセサリーを買うに違いない。",analysisResult:[
                            {claim:"",support:[
                                {evidence:"",warrant:""},
                            ]},

                        ]}


                        $scope.inputStatus = {name:"claim",i:0,j:0}
                        //$scope.inputStatus = {name:"evidence",i:0,j:0}
                        //$scope.inputStatus = {name:"warrant",i:0,j:0}


                        $scope.dissentData = [{type:"claim",txt:"Tシャツの相場は、500円から高くても4000円。対して、100,000円のTシャツなんて誰も買うわけがない。同じお金があれば、コート、カバン、時計、アクセサリーを買うに違いない。",reply:"",i:0,j:0},
                                              {type:"claim",txt:"Tシャツの相場は、500円から高くても4000円。対して、100,000円のTシャツなんて誰も買うわけがない。同じお金があれば、コート、カバン、時計、アクセサリーを買うに違いない。",reply:"",i:0,j:2},
                                              {type:"claim",txt:"Tシャツの相場は、500円から高くても4000円。対して、100,000円のTシャツなんて誰も買うわけがない。同じお金があれば、コート、カバン、時計、アクセサリーを買うに違いない。",reply:"",i:0,j:2},
                                             ]
                        $scope.statementData = ""
                        $scope.statementStatus = {name:"dissent",i:0}

                    }

                    init()


                })

                myApp.directive("concept",function(){
                    return {
                        scope:false,
                        templateUrl:"/angularJSTemplate/concept.html"
                    }
                })






                myApp.service('myService',function(){
                    this.checkData = function($scope){
                        $scope.dataSuccess = 1
                        if(!$scope.contents){
                            $scope.dataSucess = 0
                            return false;
                        }else{
                            return true;
                        }
                    }



                    this.checkData2 = function($scope){
                        $scope.data2Success = 1
                        if(!$scope.statement){
                            $scope.data2Success = 0
                            return false;
                        }else{
                            return true;
                        }
                    }
                });



                myApp.directive("bottomInput",function(){
                    return {
                        scope:false,
                        controller:function($scope,$rootScope,myService){
                            $scope.inputFormValue = 1
                            function print(){
                                console.log($scope.analysisData.analysisResult)
                                $scope.contents = ""
                            }

                            function addIntoAnalysisData(name){
                                    var i = $scope.inputStatus.i
                                    var j = $scope.inputStatus.j
                                    if(name == "claim"){
                                        $scope.analysisData.analysisResult[i].claim = $scope.contents
                                        $scope.analysisData.analysisResult[i].cDissent = $scope.dissent
                                    }

                                    if(name == "evidence"){
                                        $scope.analysisData.analysisResult[i].support[j].evidence = $scope.contents
                                        $scope.analysisData.analysisResult[i].support[j].eDissent = $scope.dissent
                                    }

                                    if(name == "warrant"){
                                        $scope.analysisData.analysisResult[i].support[j].warrant = $scope.contents
                                        $scope.analysisData.analysisResult[i].support[j].wDissent = $scope.dissent
                                    }

                                    $scope.dissent = 0
                            }

                            //入力再投稿のお願い
                            $scope.changeInputTab = function(){
                                    $scope.inputFormValue = ($scope.inputFormValue+1)%2
                            }


                            $scope.output = function(){

                                if(!myService.checkData($scope)){
                                    return false
                                }

                                if($scope.inputStatus.name == "claim"){
                                    addIntoAnalysisData("claim")
                                    $scope.inputStatus.name = "evidence"
                               }else if($scope.inputStatus.name == "evidence"){
                                   addIntoAnalysisData("evidence")
                                   $scope.inputStatus.name = "warrant"
                                }else if($scope.inputStatus.name == "warrant"){
                                   addIntoAnalysisData("warrant")
                                   $scope.inputStatus.name = "newEvidence"
                                }else if($scope.inputStatus.name == "newEvidence"){

                               }else if($scope.inputStatus.name == "newClaim"){

                               }else{

                               }
                                print()
                                $rootScope.$broadcast('click',{});
                            }

                            $scope.noClaim = function(){
                                print()
                            }

                            $scope.noEvidence = function(){
                                $scope.inputStatus.name = "newClaim"
                            }

                            $scope.noWarrant = function(){
                                $scope.inputStatus.name = "newEvidence"
                            }

                            $scope.setNewClaim = function(){
                                $scope.inputStatus.i++
                                $scope.inputStatus.j = 0
                                $scope.inputStatus.name = "claim"
                                $scope.analysisData.analysisResult.push({claim:"",support:[
                                    {evidence:"",warrant:""}
                                ]})
                            }

                            $scope.setNewEvidence = function(){
                                var i = $scope.inputStatus.i
                                $scope.inputStatus.j++

                                $scope.analysisData.analysisResult[i].support.push(
                                    {evidence:"",warrant:""}
                                )
                                $scope.inputStatus.name ="evidence"
                            }

                            $scope.dataSucessOfRequestTwice = 1
                            $scope.requestTwiceStatement = function(){
                                if(!$scope.requestContentReason){
                                    $scope.dataSucessOfRequestTwice = 0
                                }else{
                                    alert("send request")
                                }
                            }





                        },
                        templateUrl:"/angularJSTemplate/bottomInput.html"
                    }
                })


                myApp.directive("analysisResult",function(){
                    return {
                        scope:false,
                        link:function($scope,$element){
                            var RECTWIDTH = 450
                            var RECTHEIGHT = 100
                            var OFFSETLEFT = 80
                            var OFFSETTOP = 40


                            var SPACECWH = 80   //interval between claim and warrant vertical
                            var SPACECCH = 100    //interval between claim and claim vertical
                            var SPACEWWH = 60  //interval between warrant and warrant vertical


                            var SPACECWW = 100   // interval between claim and warrant level
                            var SPACEWEW = 50   // interval between evidence and warrant level
                            var MAINLINEOFFSETLEFT = OFFSETLEFT + 40
                            var LASTY = 0
                            var LASTX = 0

                                var svg = d3.select("#mainSVG").append("svg")
                                svg.attr("width","100%")
                                svg.attr("height","2000px")
                                svg.attr("id","mainSVG"+Math.round(Math.random()*1000))


                            function init(){
                                clearDraw()
                                draw()
                                drawMainArrow()
                            }


                            $scope.$on('click',function(event, data){
                                clearDraw()
                                draw()
                                drawMainArrow()
                            });



                            $scope.$on('analysisInit',function(event, data){
                                init()
                            });

                            function clearDraw(){
                                svg.selectAll(".draw").remove()
                                LASTX = 0
                                LASTY = 0
                            }

                            function draw(){
                                LASTY += OFFSETTOP
                                LASTX += OFFSETLEFT


                                for(var i=0;i<$scope.analysisData.analysisResult.length;i++){
                                    appendRect($scope.analysisData.analysisResult[i].claim,$scope.analysisData.analysisResult[i].cDissent,LASTX,LASTY)


                                    for(var j=0;j<$scope.analysisData.analysisResult[i].support.length;j++){

                                        //先画warrant
                                        if($scope.analysisData.analysisResult[i].support[j].warrant || $scope.analysisData.analysisResult[i].support[j].evidence){

                                            if(j==0){
                                                LASTY += (SPACECWH+RECTHEIGHT)
                                            }else{
                                                LASTY += (SPACEWWH+RECTHEIGHT)
                                            }


                                        }




                                        LASTX += (SPACECWW)

                                        if($scope.analysisData.analysisResult[i].support[j].warrant){
                                            appendRect($scope.analysisData.analysisResult[i].support[j].warrant,$scope.analysisData.analysisResult[i].support[j].wDissent,LASTX,LASTY)
                                        }



                                        //再画evidence

                                        LASTX += (RECTWIDTH + SPACEWEW)
                                        if($scope.analysisData.analysisResult[i].support[j].evidence){
                                            appendRect($scope.analysisData.analysisResult[i].support[j].evidence,$scope.analysisData.analysisResult[i].support[j].eDissent,LASTX,LASTY)
                                            drawArrow(MAINLINEOFFSETLEFT,LASTX,LASTY+RECTHEIGHT/2,LASTY+RECTHEIGHT/2)
                                        }

                                        LASTX -= (RECTWIDTH + SPACEWEW + SPACECWW)

                                    }

                                        LASTY += (SPACECCH + RECTHEIGHT)
                                }
                            }


                            function drawMainArrow(){
                                var mainLine = svg.insert("line",":first-child")
                                        .attr("x1",MAINLINEOFFSETLEFT)
                                        .attr("y1",OFFSETTOP+RECTHEIGHT)
                                        .attr("x2",MAINLINEOFFSETLEFT)
                                        .attr("y2",LASTY+RECTHEIGHT-((SPACECCH + RECTHEIGHT))-RECTHEIGHT/2)
                                        .attr("stroke","#9acfea")
                                        .attr("stroke-width",5)
                                        .attr("class","arrow draw")
                            }

                            function drawArrow(x1,x2,y1,y2){
                                var line = svg.insert("line",":first-child")
                                        .attr("x1",x1)
                                        .attr("y1",y1)
                                        .attr("x2",x2)
                                        .attr("y2",y2)
                                        .attr("stroke","#9acfea")
                                        .attr("stroke-width",3)
                                        .attr("class","arrow draw")
                            }



                            function appendRect(txt,dissent,x,y){
                                var foreignObject = svg.append("foreignObject")
                                foreignObject.attr("width",RECTWIDTH)
                                foreignObject.attr("height",RECTHEIGHT)

                                foreignObject.attr("x",x)
                                foreignObject.attr("y",y)

                                var _div = foreignObject.append('xhtml:div')
                                var div = _div.append("div")
                                div.attr("class","alert alert-info draw")
                                div.attr("role","alert")
                                div.attr("style","height: 100px; overflow: auto;margin-bottom:1px")

                                var p = div.append("p")
                                p.html(txt)

                                if(dissent){
                                    var div = _div.append("div")
                                    var button = _div.append("button")
                                    button.html("異議あり")
                                    button.attr("type","button")
                                    button.attr("class","btn btn-danger pull-right")
                                }


                                var div = _div.append("div")
                                var button = _div.append("button")
                                button.html("編集")
                                button.attr("type","button")
                                button.attr("class","btn btn-warning pull-right")

                            }

                        },

                        templateUrl:"/angularJSTemplate/analysisResult.html"
                    }
                })





                myApp.directive("statementResult",function() {
                    return {
                        scope: {},
                        link: function (scope) {

                        },
                        templateUrl:"/angularJSTemplate/statementResult.html"
                    }
                })


                myApp.directive("bottomInput2",function(myService) {
                    return {
                        scope: false,
                        link: function (scope) {

                            var TOP = 15   //最先画的方块距离顶端的距离
                            var LEFT = 80   //最先画的方块距离左边的距离
                            var DISSENTWIDTH = 250 //异议方块的长度
                            var DISSENTHEIGHT = 260//异议方块的高度
                            var DISSENTANDEXPLAINSPACE = 250 //异议方块距离右边的赛解释说明方块的横向距离
                            var DISSENTSPACEY = 80 //异议方块之间间隔的距离
                            var EXPLAINWIDTH = 460
                            var EXPLAINHEIGHT = 260
                            var DISSENTANDLINESPACEY = 90 //异议方块距离下面虚线的纵向距离
                            var DOTTEDLINEX = 40//虚线的左边位移
                            var DOTTEDWIDTH = 360 //虚线的长度
                            var DOTTEDSPACEWIDTH = 300 //虚线间隔的长度
                            var DOTTEDLINEANDCONSTRUCTSPACE = 50 //虚线距离下面方块的纵向距离
                            var CONSTRUCTX = LEFT //结论方块距离左侧的位移
                            var CONSTRUCTWIDTH = 960 //结论方块的长度
                            var CONSTRUCTHEIGHT = 260 //结论方块的高度

                            var LASTX = 0
                            var LASTY = 0
                            var svg = d3.select("#_mainSVG")
                            clearDraw()
                            draw()
                            scope.output2 = function(){
                                if(!myService.checkData2(scope)){
                                    return false
                                }

                                var i = scope.statementStatus.i

                                if(scope.statementStatus.name == "claim"){
                                    scope.statementData = scope.statement
                                }else{
                                    scope.dissentData[i].reply = scope.statement
                                }

                                if(scope.dissentData.length == 0 || i == scope.dissentData.length-1){
                                    //说明这里没有质疑或者已经完成对所有质疑的解释
                                    scope.statementStatus = {name:"claim",i:0}
                                }else{
                                    //说明这里还是对异议做解释的阶段
                                    i++
                                    scope.statementStatus.i = i
                                }

                                console.log(scope.statementStatus)
                                console.log(scope.dissentData)

                                scope.statement = ""

                                clearDraw()
                                draw()

                                if(scope.statementStatus.name == "dissent"){
                                    scrollTop("statementResult",1000,(parseInt(document.getElementById("dissent"+i).getAttribute("y")))+DISSENTSPACEY/2)
                                }else{
                                    scrollTop("statementResult",1000,(parseInt(document.getElementById("constructClaim").getAttribute("y")))+DOTTEDLINEANDCONSTRUCTSPACE/2)
                                }
                            }


                            function scrollTop(id,time,y){

                                var _scrollTop = 0
                                var start = new Date().getTime()
                                var startScrollTop = document.getElementById(id).scrollTop
                                console.log(startScrollTop)
                                setInterval(function(){
                                    if(new Date().getTime()-start > time) return;
                                    _scrollTop += (y - startScrollTop)/10
                                    document.getElementById(id).scrollTop = _scrollTop + startScrollTop
                                },time/10)
                            }


                            function draw(){
                                LASTX = LEFT
                                LASTY = TOP
                                for(var i = 0;i<scope.dissentData.length;i++){
                                    if(i>0) LASTY += DISSENTSPACEY
                                    appendRect(scope.dissentData[i].txt,1,LASTX,LASTY,DISSENTWIDTH,DISSENTHEIGHT,"dissent"+i)

                                    if(scope.dissentData[i].reply){
                                        drawArrow(LASTX+DISSENTWIDTH,LASTX+DISSENTWIDTH+DISSENTANDEXPLAINSPACE,LASTY+DISSENTHEIGHT/2,LASTY+DISSENTHEIGHT/2)
                                        drawText("この異議の説明",LASTX+DISSENTWIDTH+DISSENTANDEXPLAINSPACE*0.4,LASTY+DISSENTHEIGHT/2,16)
                                        appendRect(scope.dissentData[i].reply,0,LASTX+DISSENTWIDTH+DISSENTANDEXPLAINSPACE+5,LASTY,EXPLAINWIDTH,EXPLAINHEIGHT,"explain"+i)
                                    }else{
                                        drawPointer(LASTX+DISSENTWIDTH,LASTY+DISSENTHEIGHT/4,200,200)
                                    }

                                    LASTY += DISSENTHEIGHT
                                }


                                LASTY += DISSENTANDLINESPACEY

                                drawDottedLine(DOTTEDLINEX,LASTY,DOTTEDLINEX+DOTTEDWIDTH,LASTY)
                                drawText("ここから立論の部分",DOTTEDLINEX+DOTTEDWIDTH+50,LASTY+5,16)
                                drawDottedLine(DOTTEDLINEX+DOTTEDWIDTH+DOTTEDSPACEWIDTH,LASTY,DOTTEDLINEX+2*DOTTEDWIDTH+DOTTEDSPACEWIDTH,LASTY)

                                appendRect(scope.statementData,0,CONSTRUCTX,LASTY+DOTTEDLINEANDCONSTRUCTSPACE,CONSTRUCTWIDTH,CONSTRUCTHEIGHT,"constructClaim")
                                if(scope.statementData){
                                    d3.select("#constructClaim").style("display","block")
                                }else{
                                    d3.select("#constructClaim").style("display","none")
                                }

                            }



                            function clearDraw(){
                                svg.selectAll(".draw").remove()
                                LASTX = 0
                                LASTY = 0
                            }

                            function drawDottedLine(x1,y1,x2,y2){
                                var line = svg.insert("line")
                                        .attr("x1",x1)
                                        .attr("y1",y1)
                                        .attr("x2",x2)
                                        .attr("y2",y2)
                                        .attr("stroke","#000")
                                        .attr("stroke-width",3)
                                        .attr("class","arrow draw")
                                        .attr("stroke-dasharray","4,10")
                            }

                            function drawPointer(x,y,width,height){
                                var foreignObject = svg.append("foreignObject")
                                .attr("width",width)
                                .attr("height",height)
                                .attr("x",x)
                                .attr("y",y)
                                .attr("class","draw")

                                var div = foreignObject.append('xhtml:div')
                                var image = div.append("img")

                                image.attr("src", "./leftPointer.png")
                                        .attr("width", "100")
                                        .attr("height", "100");


                                drawText("左の異議を説明してください",x+100,y+100/2,20)
                            }

                            function drawArrow(x1,x2,y1,y2){
                                var line = svg.insert("line",":first-child")
                                        .attr("x1",x1)
                                        .attr("y1",y1)
                                        .attr("x2",x2)
                                        .attr("y2",y2)
                                        .attr("stroke","#9acfea")
                                        .attr("stroke-width",3)
                                        .attr("class","arrow draw")
                                        .attr("marker-end","url(#arrow)")
                            }

                            function drawText(txt,x,y,font){
                                var text = svg.insert("text")
                                    text.text(txt)
                                    text.attr("x",x)
                                            .attr("y",y)
                                            .attr("font-size",font)
                                            .attr("fill","#8a6d3b")
                                            .attr("class","draw")
                            }

                            function appendRect(txt,dissent,x,y,w,h,id){
                                var foreignObject = svg.append("foreignObject")
                                foreignObject.attr("width",w)
                                foreignObject.attr("height",h)

                                foreignObject.attr("x",x)
                                foreignObject.attr("y",y)
                                foreignObject.attr("id",id)


                                var _div = foreignObject.append('xhtml:div')
                                var div = _div.append("div")
                                div.attr("class","alert alert-warning draw")
                                div.attr("role","alert")
                                div.attr("style","height: "+ h +"px; overflow: auto;margin-bottom:1px")


                                var p = div.append("p")
                                p.html(txt)

                                if(dissent){
                                    var div = _div.append("div")
                                    var button = _div.append("button")
                                    button.html("異議あり")
                                    button.attr("type","button")
                                    button.attr("class","btn btn-danger pull-right")
                                }

                            }



                        },
                        templateUrl:"/angularJSTemplate/bottomInput2.html"
                    }
                })
    </script>
</body>
</html>