<div class="row" ng-if="LAN=='JP'">
    <div class="row" ng-repeat="(key,val) in inputMessage track by $index">
        <form class="form-group" >
            <label>{{val.title}}:</label>
            <textarea class="form-control" rows="5" ng-model="val.content"></textarea>
        </form>

    </div>
    <div><button class="btn btn-default btn-xs" ng-click="_submit()" >送信</button></div>
</div>



<div class="row" ng-if="LAN=='CN'">
    <div class="row" ng-repeat="(key,val) in inputMessage track by $index">
        <form class="form-group" >
            <label>{{val.title}}:</label>
            <textarea class="form-control" rows="5" ng-model="val.content"></textarea>
        </form>

    </div>
    <div><button class="btn btn-default btn-xs" ng-click="_submit()" >发送</button></div>
</div>