<div class="row" ng-if="LAN=='JP'">
<div class="row">
    <div class="alert alert-warning" role="alert">拒否する理由を詳しく書いてください</div>
</div>

<div class="row">
    <form class="form-group" >
        <label>理由:</label>
        <textarea class="form-control" rows="5" ng-model="refuseAnalysisResultReason"></textarea>
    </form>
</div>

<div class="row">
    <button class="btn btn-default btn-xs" ng-click="refuse()">送信</button>
</div>
</div>




<div class="row" ng-if="LAN=='CN'">
    <div class="row">
        <div class="alert alert-warning" role="alert">请注明拒绝此次分析结果的理由</div>
    </div>

    <div class="row">
        <form class="form-group" >
            <label>理由:</label>
            <textarea class="form-control" rows="5" ng-model="refuseAnalysisResultReason"></textarea>
        </form>
    </div>

    <div class="row">
        <button class="btn btn-default btn-xs" ng-click="refuse()">发送</button>
    </div>
</div>