<div ng-if="LAN=='JP'">
<div class="row" >
    <form class="form-group" >
        <label>再投稿お願いの理由をお書きください</label>
        <textarea class="form-control" rows="5" ng-model="requestStatementMessage"></textarea>
    </form>
</div>
<div><button class="btn btn-default btn-xs" ng-click="submit()">送信</button></div>
</div>



<div ng-if="LAN=='CN'">
    <div class="row" >
        <form class="form-group" >
            <label>请告诉对方为什么这次阐述需要修改</label>
            <textarea class="form-control" rows="5" ng-model="requestStatementMessage"></textarea>
        </form>
    </div>
    <div><button class="btn btn-default btn-xs" ng-click="submit()">发送</button></div>
</div>