
<!--
<div class="row" ng-if="LAN == 'JP'">
<div class="row" ng-if="debateInfo.position==2">
    <div class="alert alert-info" role="alert">相手が分析しています,結果をお待ちください</div>
</div>
</div>


<div class="row" ng-if="LAN == 'CN'">
    <div class="row" ng-if="debateInfo.position==2">
        <div class="alert alert-info" role="alert">对方正在分析您的阐述,请稍等......</div>
    </div>
</div>
-->
<div>
    <info-and-analysis-map mapId="bunsekiMap"></info-and-analysis-map>
</div>


    <div  ng-show="verticalExpandVal == 1" class="row">
        <div style="height: 50%;" class="row">
            <div  class="panel panel-info">
                <div class="panel-body " >


                    <div class="col-sm-8 " style="height: 290px;overflow:auto;">


                        <div ng-show="debateInfo.position==1">
                            <input-form-area></input-form-area>
                        </div>

                        <div  class="panel panel-info" ng-show="debateInfo.position==2">
                            <div class="panel-heading">
                                <span ng-show="formStartInputingVal==0">相手の分析結果をお待ちください</span>
                                <span ng-show="formStartInputingVal==1">相手は今分析しています.........</span>
                            </div>
                            <div class="panel-body" id="inputBody">
                                <opposite-input-info></opposite-input-info>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 row" style="height:290px;overflow: auto">
                        <concept></concept>
                    </div>
                </div>
            </div>
        </div>
    </div>

