
<div>
    <info-and-analysis-map mapId="checkMap"></info-and-analysis-map>
</div>


<div  ng-show="verticalExpandVal == 1">
<div class="row">
    <div class="row" >
        <div  class="panel panel-info">
            <div class="panel-body" >

                <div class="row col-sm-8" style="height:330px;overflow: auto" ng-show="debateInfo.position ==1">

                    <div class="panel panel-info" >
                        <div class="panel-heading">
                            正しく分析されているか確認してください
                        </div>
                        <div class="panel-body">
                            <div class="row" style="height:200px;overflow: auto" >
                                <analysis-result></analysis-result>
                            </div>
                            <div class="row" style="height:40px;overflow: auto">
                                <exam-analysis-result></exam-analysis-result>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-sm-8"  style="height:330px;overflow: auto"  ng-show="debateInfo.position ==2">
                    <div  class="panel panel-info" >
                        <div class="panel-heading">
                            相手はあなたが正しく分析しているかを確認しています
                        </div>
                        <div class="panel-body" style="height:270px;overflow: auto" >
                            <analysis-result></analysis-result>
                        </div>
                    </div>
                </div>


                <div class="row col-sm-4">
                    <concept></concept>
                </div>
            </div>
        </div>
    </div>


</div>

</div>


<!--
<div ng-if="LAN=='JP'">
<div class="row" ng-if="debateInfo.position == 2">
    <div class="alert alert-success" role="alert">分析結果を送りました,あなたの分析結果を相手が確認しています、しばらく相手の返事をお待ちください</div>
</div>


    <div class="row" ng-if="debateInfo.position==1">
        <div class="alert alert-info" role="alert">正しく分析されているか確認してください</div>
    </div>


</div>


<div ng-if="LAN=='CN'">
    <div class="row" ng-if="debateInfo.position == 2">
        <div class="alert alert-success" role="alert">分析结果已经发送,对方正在核对,稍稍等待</div>
    </div>
</div>
-->


