<div>
    <info-and-analysis-map mapId="finishMap"></info-and-analysis-map>
</div>


<div>
    <div class="row">
        <div class="row" style="height: 350px;overflow:auto;">
            <div  class="panel panel-info">
                <div class="panel-body" >

                    <div class="row col-sm-8" style="height: 330px;overflow:auto;">


                        <div  class="panel panel-info" >
                            <div class="panel-heading">
                                <span>自己評価をしてください</span>
                            </div>
                            <div class="panel-body">

                                <h3>討論が終わりました，お疲れ様でした.</h3>

                                <div ng-show="statementStatus.name == 'claim'" class=" col-sm-12 alert alert-warning"   role="alert">
                                    <p class="alert-link">討論の勝者が誰であるか，下のボタンを押して自己判定してください</p>
                                </div>

                                <h5 ng-show="!debateInfo.finish">下のボタンを押して自己評価してください．</h5>
                                <h5 ng-show="debateInfo.finish">お互いの勝敗判定結果は下の通りに表示しています．</h5>

                                <div class="row" style="margin:0 auto" >
                                    <div class="btn-group" role="group" ng-show="rateable == 1">
                                        <button type="button" ng-click="determines(1)" class="btn btn-default">自分の勝ち</button>
                                        <button type="button" ng-click="determines(2)" class="btn btn-default">引き分け</button>
                                        <button type="button" ng-click="determines(3)" class="btn btn-default">自分の負け</button>
                                    </div>

                                    <div class="row">
                                        <div class="row col-sm-5 col-sm-offset-1"  ng-show="!rateable && debateInfo.proRate">
                                            <span class="label label-info" >肯定側の自己評価</span>


                                            <span ng-show="debateInfo.proRate == 1">自分の勝ち</span>
                                            <span ng-show="debateInfo.proRate == 2">引き分け</span>
                                            <span ng-show="debateInfo.proRate == 3">自分の負け</span>


                                        </div>

                                        <div class="row col-sm-5 col-sm-offset-1" ng-show="!rateable && debateInfo.conRate">
                                            <span class="label label label-success" >否定側の自己評価</span>

                                            <span ng-show="debateInfo.conRate == 1">自分の勝ち</span>
                                            <span ng-show="debateInfo.conRate == 2">引き分け</span>
                                            <span ng-show="debateInfo.conRate == 3">自分の負け</span>
                                        </div>
                                    </div>
                                    <br/>

                                    <div class=" col-sm-12 alert alert-info"   role="alert" ng-show="debateInfo.proRate && debateInfo.conRate">
                                        <a ng-show="debateInfo.analysisFunc == 1" target="_blank" href="https://goo.gl/MGLEAO" class="alert-link">アンケートの協力お願いします</a>
                                        <a ng-show="debateInfo.analysisFunc == 0" target="_blank" href="https://goo.gl/e5ZuF3" class="alert-link">アンケートの協力お願いします</a>
                                    </div>


                                </div>

                                <br/>


                            </div>

                        </div>


                    </div>
                    <div class="row col-sm-4" style="height: 330px;overflow:auto;">
                        <concept></concept>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>