<div >
    <info-and-analysis-map mapParentId="lookupMap"></info-and-analysis-map>
</div>
<div  ng-show="verticalExpandVal == 1">
    <div class="row">
<div class="row" ng-show="LAN=='JP'" style="height: 350px;overflow:auto;">
<div  class="panel panel-info">
    <div class="panel-body" >
        <div class="row col-sm-8" style="height: 330px;overflow:auto;">

            <div  class="panel panel-info" >
                <div class="panel-heading">
                    <span ng-if="debateInfo.position == 1">異議がある部分を選んでください</span>
                    <span ng-if="debateInfo.position == 2">相手の反駁をお待ちください</span>

                </div>
                <div class="panel-body" id="analysisResult">
                    <analysis-result2></analysis-result2>
                    <analysis-result></analysis-result>
                </div>

            </div>


        </div>

        <div class="row col-sm-4">
            <concept></concept>
        </div>

    </div>
</div>
</div>
    </div>

</div>




<!--
<div class="row" ng-if="LAN=='JP'">
<div class="row" ng-if="debateInfo.position == 2">
    <div class="alert alert-info" role="alert">正しく分析されていると確認しました,しばらく相手の動きをお待ちください</div>
</div>

<div class="row" ng-if="debateInfo.position == 1">
    <div class="alert alert-success" role="alert">あなたの意見を相手が分析しました,続いては分析結果の中に異議がある部分を探して説明してください,また自分のいけんがある場合も自分の立論を立ててください</div>
</div>
</div>


<div class="row" ng-if="LAN=='CN'">

    <div class="row" ng-if="debateInfo.position == 1">
        <div class="alert alert-info" role="alert">您已同意了对方的分析结果,接下来请等待对方做阐述说明</div>
    </div>

    <div class="row" ng-if="debateInfo.position == 2">
        <div class="alert alert-success" role="alert">您的分析结果对方已经同意了,接下来,请找出分析结果中您认为有异议的地方进行质疑,或者自己另有结论的话也可以单独进行阐述说明</div>
    </div>

</div>
-->