
<div>
    <info></info>
</div>

<div>
    <div class="row">
        <div class="row"  ng-show="LAN=='JP'" style="height: 350px;overflow:auto;">
            <div  class="panel panel-info">
                <div class="panel-body" >
                        <div class="row col-sm-8" >

                        <div  class="panel panel-info" >
                            <div class="panel-heading">
                                <span ng-if="debateInfo.position == 1">相手の反駁をお待ちください</span>
                                <span ng-if="debateInfo.position == 2">反駁したい部分を選んで反駁してください。その後、立論してください。</span>
                            </div>
                            <div class="panel-body" style="height: 280px;overflow:auto;">




                               <!--
                                <p ng-if="debateInfo.position == 1">
                                    <span ng-show="statementStatus.name == 'claim'">

                                    </span>
                                    <span ng-show="statementStatus.name == 'rebuttal'">
                                        「自分の反駁」
                                    </span>
                                </p>
                                -->


                                <div>

                                    <p ng-if="debateInfo.position == 1 && everyStatementData.statementData">「自分の立論」</p>
                                    <p ng-if="debateInfo.position == 2 && everyStatementData.statementData">「相手の立論」</p>
                                    <div class="panel panel-default " style="cursor: pointer;height:60px;overflow: auto"  ng-show="everyStatementData.statementData">
                                        <div class="panel-body rebuttalElement" id="rebuttal{{everyStatementData.statementDataRandom}}" ng-click="selectRebuttal(everyStatementData.statementDataRandom,everyStatementData.statementData,'claim')">
                                            <p>現在の立論:{{everyStatementData.statementData}}</p>
                                        </div>
                                    </div>

                                    <p ng-if="debateInfo.position == 1 && everyStatementData.dissentExplain[0].reply">「自分の反駁」</p>
                                    <p ng-if="debateInfo.position == 2 && everyStatementData.dissentExplain[0].reply">「相手の反駁」</p>
                                    <div class="panel panel-default " style="cursor: pointer;height:60px;overflow: auto"  ng-show="everyStatementData.dissentExplain[0].reply" ng-repeat="(i,val) in everyStatementData.dissentExplain track by $index">
                                        <div class="panel-body rebuttalElement" id="rebuttal{{val.random}}"  ng-click="selectRebuttal(val.random,val.reply,'rebuttal')">
                                            <p>反駁:{{val.reply}}</p>
                                        </div>
                                    </div>
                                </div>


                                <hr ng-show="everyStatementData.statementData || everyStatementData.dissentExplain[0].reply">


                                <div ng-show="debateInfo.position == 2">
                                    <div ng-show="statementStatus.name != 'preview'">
                                        <input-text-area-for-no-analysis></input-text-area-for-no-analysis>
                                    </div>
                                    <div ng-show="statementStatus.name == 'preview'">
                                        <div style="height: 220px;overflow: auto">
                                            <statement-result-for-no-analysis></statement-result-for-no-analysis>
                                        </div>
                                        <div style="height:20px">
                                            <button class="btn btn-default pull-right" ng-click="submit()">送信</button>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="debateInfo.position == 1">
                                    <opposite-statement-info-for-no-analysis></opposite-statement-info-for-no-analysis>
                                </div>

                            </div>

                        </div>


                    </div>
                        <div class="row col-sm-4">
                        <concept-for-no-analysis></concept-for-no-analysis>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>