
<div>
    <info></info>
</div>

<div>
    <div class="row">
        <div class="row"  ng-show="LAN=='JP'" style="height: 350px;overflow:auto;">
            <div  class="panel panel-info">
                <div class="panel-body" >

                    <div class="row col-sm-8" >

                        <div  class="panel panel-info" >
                            <div class="panel-heading" ng-show="debateInfo.order == 0">
                                <span ng-if="debateInfo.position == 2">相手の反駁と立論をお待ちください</span>
                                <span ng-if="debateInfo.position == 1">立論してください。また反駁したい部分を選んで、反駁を出してください</span>
                            </div>

                            <div class="panel-heading" ng-show="debateInfo.order > 0">
                                <span ng-if="debateInfo.position == 2">相手の立論をお待ちください</span>
                                <span ng-if="debateInfo.position == 1">立論出してください</span>
                            </div>


                            <div class="panel-body" style="height: 280px;overflow:auto;">

                                <p ng-if="debateInfo.position == 2">「相手の立論また反駁」</p>
                                <p ng-if="debateInfo.position == 1">「自分の立論また反駁」</p>


                                <div class="panel panel-default " style="cursor: pointer;height:60px;overflow: auto"  ng-show="everyStatementData.statementData">
                                    <div class="panel-body rebuttalElement" id="rebuttal{{everyStatementData.statementDataRandom}}" ng-click="selectRebuttal(everyStatementData.statementDataRandom,everyStatementData.statementData)">
                                        <p>現在の立論:{{everyStatementData.statementData}}</p>
                                    </div>
                                </div>

                                <div class="panel panel-default " style="cursor: pointer;height:60px;overflow: auto"  ng-show="everyStatementData.dissentExplain[0].reply" ng-repeat="(i,val) in everyStatementData.dissentExplain track by $index">
                                    <div class="panel-body rebuttalElement" id="rebuttal{{val.random}}"  ng-click="selectRebuttal(val.random,val.reply)">
                                        <p>反駁:{{val.reply}}</p>
                                    </div>
                                </div>


                                <hr/>
                                <!-- 自己目前所输入的内容  -->

                                <div ng-show="debateInfo.position == 1 && statementStatus.name != 'preview'">
                                    <div class="panel panel-default" ng-show="statementData">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">主張</h3>
                                        </div>
                                        <div class="panel-body">
                                            {{statementData}}
                                        </div>
                                    </div>

                                    <div ng-show="rebuttalData[0].reply">
                                        <div class="panel panel-default" ng-repeat="(i,val) in rebuttalData track by $index">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">反駁{{i+1}}</h3>
                                            </div>
                                            <div class="panel-body">
                                                {{val.reply}}
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div ng-show="debateInfo.position == 1">
                                    <div ng-show="statementStatus.name != 'preview'">
                                        <div>
                                            <input-text-area-for-no-analysis></input-text-area-for-no-analysis>
                                        </div>
                                    </div>
                                    <div ng-show="statementStatus.name == 'preview'">
                                        <div style="height: 220px;overflow: auto">
                                            <statement-result-for-no-analysis></statement-result-for-no-analysis>
                                        </div>
                                        <div style="height:20px">
                                            <button class="btn btn-default pull-right" ng-click="submit()">送信</button>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="debateInfo.position == 2">
                                    <opposite-statement-info-for-no-analysis></opposite-statement-info-for-no-analysis>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="row col-sm-4">
                        <concept-for-no-analysis></concept-for-no-analysis>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>