
<!--
<div ng-show="debateInfo.position == 1">
    <info-and-statement-map></info-and-statement-map>
    <input-text-area></input-text-area>
</div>



<div ng-show="debateInfo.position == 2">
    <middle-info></middle-info>
    <div class="alert alert-info" role="alert">賛成側の立論をお待ちください</div>
</div>

-->
<div>
    <info-and-analysis-map mapId="noberuMap"></info-and-analysis-map>
</div>

<div class="row"  ng-show="verticalExpandVal == 1">
<div class="row"  style="height: 350px;overflow:auto;">
    <div  class="panel panel-info">
        <div class="panel-body" >

            <div class="row col-sm-8" style="height: 330px;overflow:auto;">

                <div  class="panel panel-info" >
                    <div class="panel-heading">
                        <span ng-if="debateInfo.position == 2">相手の反駁をお待ちください</span>
                        <span ng-if="debateInfo.position == 1">反駁してください</span>
                    </div>

                    <div class="panel-body">
                        <div ng-show="debateInfo.position == 1">
                            <div ng-show="statementStatus.name != 'preview'">
                                <input-text-area></input-text-area>
                            </div>

                            <div ng-show="statementStatus.name == 'preview'">
                                <div style="height: 220px;overflow: auto">
                                    <statement-result></statement-result>
                                </div>
                                <div style="height:20px">
                                   <button class="btn btn-default pull-right" ng-click="submit()">送信</button>
                                </div>
                            </div>
                        </div>



                        <div ng-show="debateInfo.position == 2">
                            <opposite-statement-info></opposite-statement-info>
                        </div>
                    </div>

                </div>


            </div>

            <div class="row col-sm-4">
                <concept></concept>
            </div>

        </div>
    </div>
</div>
</div>






