<!--
<div ng-show="debateInfo.position == 1">
<info-and-statement-map></info-and-statement-map>
<input-text-area></input-text-area>
</div>
<div ng-show="debateInfo.position == 2" ng-if="LAN=='JP'">
   <middle-info></middle-info>
    <div class="alert alert-info" role="alert">相手の意見をお待ちください</div>
</div>

<div ng-show="debateInfo.position == 2" ng-if="LAN=='CN'">
    <middle-info></middle-info>
    <div class="alert alert-info" role="alert">请等待正方阐述结论</div>
</div>
-->



<div>
    <info-and-analysis-map mapParentId="startMap"></info-and-analysis-map>
</div>

<div  ng-show="verticalExpandVal == 1">
    <div class="row">
    <div class="row"  ng-show="LAN=='JP'" style="height: 350px;overflow:auto;">
        <div  class="panel panel-info">
            <div class="panel-body" >

                <div class="row col-sm-8" style="height: 330px;overflow:auto;">

                    <div  class="panel panel-info" >
                        <div class="panel-heading">
                            <span ng-if="debateInfo.position == 2">
                                討論相手が立論を書いていますのでお待ちください
                                <span ng-show="textStartInputingVal == 1">入力しています...</span>
                            </span>
                            <span ng-if="debateInfo.position == 1">
                                <span ng-show="statementStatus.name == 'claim'">立論してください</span>
                                <span ng-show="statementStatus.name == 'dissent'">反駁してください</span>
                            </span>

                            <span ng-show="statementStatus.name == 'preview'">
                                立論の内容を確認してください
                            </span>
                        </div>
                        <div class="panel-body" id="analysisResult">
                            <div ng-show="debateInfo.position == 1">
                                <div ng-show="statementStatus.name != 'preview'">
                                    <input-text-area></input-text-area>
                                </div>
                                <div ng-show="statementStatus.name == 'preview'">
                                    <div style="height: 220px;overflow: auto" >
                                        <statement-result2></statement-result2>
                                        <hr>
                                        <statement-result></statement-result>
                                    </div>
                                    <div style="height:20px">
                                        <div  class=" col-sm-10">
                                            <span>この内容でよければ「送信」を押してください。</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-default pull-right" ng-click="submit()">送信</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div ng-show="debateInfo.position == 2">
                                <opposite-statement-info></opposite-statement-info>
                            </div>

                        </div>

                    </div>


                </div>
                <div class="row col-sm-4">
                    <concept></concept>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>