<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" >
    <![endif]-->
    <script src="/release/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/tmp/jquery-2.2.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js" ></script>
    <script src="/release/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <title>groupNew</title>

    <style>

        .icon-stack {
            display: inline-block;
            height: 2em;
            line-height: 2em;
            position: relative;
            vertical-align: -35%;
            width: 2em;
        }
        .icon-stack .icon-stack-base {
            font-size: 2em;
        }
        .icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] {
            display: block;
            font-size: 1em;
            height: 100%;
            line-height: inherit;
            position: absolute;
            text-align: center;
            width: 100%;
        }
        .icon-stack .glyphicon{
            font-size: 2em;
        }
        .glyphicon-plus
        {
            font-size: 4px;
            color: #060606;
        }

        ._button {
            padding: 8px;
            margin-right: 1em;
        }

        .fa-wrapper {
            position:relative;
            margin-left: -2px;
        }

        .glyphicon-home {
            font-size: 20px;
        }

        .glyphicon-plus {
            position: absolute;
            right: -4px;
            top: -4px;
            font-size: 11px;
        }



    </style>
</head>
<body ng-app="myApp">
<div class="container"  ng-controller="myController">
    <script type="text/ng-template" id="ruleConfirmCtrl.html">
        <div class="modal-header">
            <h3 class="modal-title" >{{title}}</h3>
        </div>
        <div class="modal-body" >
            <div class="row" >
               <div class="col-sm-offset-1 col-sm-3">立場</div>
               <div class="col-sm-6" ng-show="observer == 0">
                   <label>
                       <input type="radio" ng-if="positionDisabled == 1" disabled   ng-model="position" name="position"  value="1" >
                       <input type="radio" ng-if="positionDisabled != 1"   ng-model="position" name="position"  value="1" >
                        肯定側
                   </label>

                   <label>
                       <input type="radio" ng-model="position" name="position" value="2" >
                       否定側
                   </label>
               </div>


                <div class="col-sm-6" ng-show="observer == 1">
                    <label>
                        <input type="radio" ng-model="position" name="position"  value="0" >
                        オブザーバー
                    </label>

                </div>

           </div>



            <div class="row">
                <div class="col-sm-offset-1 col-sm-3">回数</div>
                <div class="col-sm-6" ng-show="observer == 0">
                    <label>
                        <input type="radio"  ng-model="totalNum" name="totalNum" ng-disabled="totalNumSelected == 1"  value="1" >
                        1回
                    </label>

                    <label>
                        <input type="radio"  ng-model="totalNum" name="totalNum" ng-disabled="totalNumSelected == 1"  value="2" >
                        2回
                    </label>

                    <label>
                        <input type="radio"  ng-model="totalNum" name="totalNum" ng-disabled="totalNumSelected == 1"  value="3" >
                        3回
                    </label>

                    <label>
                        <input type="radio"  ng-model="totalNum" name="totalNum" ng-disabled="totalNumSelected == 1"  value="4" >
                        4回
                    </label>
                </div>
            </div>

            <hr>


            <div class="row">
                <div class="col-sm-offset-1 col-sm-3">分析機能</div>
                <div class="col-sm-6">
                    <label>
                        <input ng-disabled="funcDisable == 1" type="radio" ng-model="analysisFunc"  name="analysisFunc" value="1" >
                        あり
                    </label>

                    <label>
                        <input ng-disabled="funcDisable == 1"  type="radio" ng-model="analysisFunc"  name="analysisFunc" value="0" >
                        なし
                    </label>
                </div>
            </div>

            <div class="row" ng-show="analysisFunc == '1'">
                <div class="col-sm-offset-1 col-sm-3">マップ機能</div>
                <div class="col-sm-6">
                    <label>
                        <input ng-disabled="funcDisable == 1" disabled type="radio" ng-model="mapFunc"  name="mapFunc" value="1" >
                        あり
                    </label>

                    <label>
                        <input ng-disabled="funcDisable == 1" disabled type="radio" ng-model="mapFunc"  name="mapFunc" value="0" >
                        なし
                    </label>
                </div>
            </div>


        </div>

        <div class="modal-footer" ng-if="status == 'newRoom'">
            <button class="btn btn-primary" type="button" ng-click="ok()">作る</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">締める</button>
        </div>

        <div class="modal-footer" ng-if="status == 'participate'">
            <button class="btn btn-primary" type="button" ng-click="ok()">参加</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">締める</button>
        </div>

    </script>


    <div class="row">

        <div>

            <label>
                <input type="checkbox" ng-model="showDebating"  ng-checked="{{showDebating}}"> 討論中
            </label>

            <label>
                <input checked="checked" type="checkbox" ng-model="showFinish"  ng-checked="{{showFinish}}"> 終了
            </label>


        </div>


        <div class="row col-sm-8">


            <div style="height:700px;overflow:auto">

                <div class="panel panel-default" ng-repeat="val in themes">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="95%"><span style="margin-left: 1px;">論題:{{val.theme}}</span></td>
                                        <td>

                                            <button style="margin-right: 1px;" class=" _button"  ng-click="openRoom(val.num,val.theme)">
                                                <div class="fa-wrapper">
                                                    <i class="glyphicon glyphicon-home"></i>
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </div>
                                            </button>

                                        </td>
                                    </tr>
                                </table>


                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <div>
                            <p>討論ルーム</p>
                        </div>

                        <div class="list-group" >


                            <a class="list-group-item row"  ng-if="showDebating" ng-repeat="_val in val.debating">
                                <div class="col-sm-1">
                                    <span ng-if="_val.pro == username || _val.con == username" ng-click="backToRoom(_val._id)" style="font-size:23px;line-height: 36px;cursor: pointer;" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    <span ng-if="_val.pro != username && _val.con != username && (!_val.pro || !_val.con)" >
                                        <button ng-if="_val.pro" ng-click="participateRoom(_val.num,_val.rNum,2,_val.timeLimit,_val.analysisFunc,_val.mapFunc,_val.totalNum)"  class="label label-success" style="height: 30px;margin-top:10px;"><span  style="font-size:23px;line-height:18px;cursor: pointer;"  class="glyphicon glyphicon-arrow-right"></span></button>
                                        <button ng-if="_val.con" ng-click="participateRoom(_val.num,_val.rNum,1,_val.timeLimit,_val.analysisFunc,_val.mapFunc,_val.totalNum)"  class="label label-info" style="height: 30px;margin-top:10px;"><span style="font-size:23px;line-height:18px;font-size:23px;cursor: pointer;"  class="glyphicon glyphicon-arrow-right"></span></button>
                                    </span>
                                    <span ng-if="_val.pro != username && _val.con != username && (_val.pro && _val.con)" >
                                       <button ng-click="participateRoom(_val.num,_val.rNum,0,_val.timeLimit,_val.analysisFunc,_val.mapFunc,_val.totalNum)"  class="label label-default" style="height: 30px;margin-top:10px;"><span  style="font-size:23px;line-height:18px;cursor: pointer;"  class="glyphicon glyphicon-arrow-right"></span></button>
                                    </span>
                                </div>
                                <div class="col-sm-11">
                                        <div class="row">

                                            <span ng-if="_val.status == 'noAnalysisStart'">肯定側の立論また反駁しています</span>
                                            <span ng-if="_val.status == 'noAnalysisFuncAppealAndState'">否定側の立論また反駁しています</span>

                                            <span ng-if="_val.status == 'wait'">また始まっていない</span>
                                            <span ng-if="_val.status == 'start'">肯定側の主張中</span>
                                            <span ng-if="_val.status == 'analysis'">否定側の分析中</span>
                                            <span ng-if="_val.status == 'check'">肯定側のチェック中</span>
                                            <span ng-if="_val.status == 'appeal'">否定側の反駁中</span>
                                            <span ng-if="_val.status == 'bunseki'">肯定側の主張中</span>
                                            <span ng-if="_val.status == 'kentou'">否定側のチェック中</span>
                                            <span ng-if="_val.status == 'lookup'">肯定側の反駁中</span>
                                            <span ng-if="_val.status == 'finish'">終了</span>

                                            <span>(最終更新: {{toTimeFormat(_val.time)}})</span></div>
                                        <div class="row" style="margin-top:2px">
                                            <div class="row col-sm-3">
                                                <span style="font-size: 13px;" class="label label-info">肯定側</span>
                                                <span>{{_val.pro}} </span>
                                                <span>{{_val.proUserInfo.name}}</span>
                                            </div>
                                            <div class="row col-sm-3">
                                                <span  style="font-size: 13px;"  class="label label-success">否定側</span>
                                                <span>{{_val.con}}</span>
                                                <span>{{_val.conUserInfo.name}}</span>
                                            </div>
                                            <div class="row col-sm-3">
                                                <span style="font-size: 13px;"  class="label label-default">
                                                    分析機能
                                                </span>
                                                <span ng-show="_val.analysisFunc == 1">あり</span>
                                                <span ng-show="_val.analysisFunc == 0">なし</span>
                                            </div>
                                            <div class="row col-sm-3" ng-show="_val.analysisFunc == 1">
                                                <span style="font-size: 13px;"  class="label label-default">
                                                    マップ機能
                                                </span>
                                                <span ng-show="_val.mapFunc == 1">あり</span>
                                                <span ng-show="_val.mapFunc == 0">なし</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="row col-sm-3">
                                                <span>{{_val.proUserInfo.name}} </span>
                                            </div>

                                            <div class="row col-sm-3">
                                                <span>{{_val.conUserInfo.name}} </span>
                                            </div>
                                        </div>

                                </div>
                            </a>



                            <a class="list-group-item row" ng-if="showFinish"  ng-repeat="_val in val.finish">
                                <div class="col-sm-1">
                                    <span>
                                       <button ng-click="backToRoom(_val._id)"  class="label label-default" style="height: 30px;margin-top:10px;"><span  style="font-size:23px;line-height:18px;cursor: pointer;"  class="glyphicon glyphicon-play"></span></button>
                                    </span>

                                </div>
                                <div class="col-sm-11">
                                    <div class="row">

                                        <span ng-if="_val.status == 'finish'">終了</span>
                                        <span>(最終更新: {{toTimeFormat(_val.time)}})</span></div>
                                    <div class="row" style="margin-top:2px">
                                        <div class="row col-sm-3">
                                            <span style="font-size: 13px;" class="label label-info">肯定側</span>
                                            <span>{{_val.pro}}</span>
                                            <span>{{_val.proUserInfo.name}}</span>
                                        </div>
                                        <div class="row col-sm-3">
                                            <span  style="font-size: 13px;"  class="label label-success">否定側</span>
                                            <span>{{_val.con}}</span>
                                            <span>{{_val.conUserInfo.name}}</span>
                                        </div>
                                        <div class="row col-sm-3">
                                            <span style="font-size: 13px;" class="label label-warning">勝負の結果:未決着</span>
                                        </div>

                                    </div>
                                </div>
                            </a>

                        </div>

                    </div>
                </div>


            </div>


        </div>




        <div class="row col-sm-4" style="height:700px;overflow:auto">



            <div class="panel panel-default" >

                <div class="panel-body">

                    <div class="row">
                        <p class="col-sm-12">{{username}}さん:おはようございます</p>
                    </div>

                    <div class="row">

                        <div class="col-sm-4">
                            <img src="/release/head.jpg" alt="" width="80" height="80">
                        </div>
                        <div class="col-sm-4">
                            <p class="row">未決着:{{unDeterminNum}}</p>
                            <p class="row">勝利:{{winNum}}</p>
                            <p class="row">負け:{{lostNum}}</p>
                        </div>

                    </div>


                    <hr/>
                    <div class="row ">
                        <p class="col-sm-12 " >また終わっていない討論</p>
                    </div>


                        <uib-accordion >
                        <div uib-accordion-group ng-class="getPosition(val.pro,val.con)" ng-if="!val.finish" heading="{{val.title}}" ng-repeat="val in getCurrentSelfDebateInfoVal">
                            <p>
                            肯定側:{{val.pro}}
                            否定側:{{val.con}}
                            </p>

                            <p>
                            状態:{{val.status}}
                            </p>
                            <p>
                            総回数:1回
                            </p>
                            <p>
                            今の段階:第{{val.order}}回
                            </p>
                            <p>
                                <a ng-click="backToRoom(val._id)">ルームに戻る</a>
                            </p>
                        </div>
                        </uib-accordion>

                        <!--
                        <table class="table">
                            <tr ng-repeat="(i,val) in getCurrentSelfDebateInfoVal" ng-class="getPosition(val.pro,val.con)" >
                                <td>{{val.title}}</td>
                            </tr>
                        </table>
                        -->

                    <hr/>
                    <div class="row ">
                        <p class="col-sm-12 " >終わっている討論</p>
                    </div>


                    <uib-accordion >
                        <div uib-accordion-group ng-class="getPosition(val.pro,val.con)" ng-if="val.finish" heading="{{val.title}}" ng-repeat="val in getCurrentSelfDebateInfoVal">
                            <p>
                                肯定側:{{val.pro}}
                                否定側:{{val.con}}
                            </p>

                            <p>
                                状態:{{val.status}}
                            </p>
                            <p>
                                総回数:1回
                            </p>
                            <p>
                                今の段階:{{val.order}}回
                            </p>
                            <p>
                                時間制限:{{val.timeLimit}}
                            </p>
                        </div>
                    </uib-accordion>



                    <div class="row">
                        <p class="col-sm-12 " >
                            <a class="pull-right" href="/release/logout">ログアウト</a>
                        </p>

                    </div>



                </div>
            </div>

        </div>
    </div>
</div>
</body>


<script>




    var myApp = angular.module("myApp",['ui.bootstrap']);


    myApp.factory("myPost",function($http){
        return{
            postData:function(url,data){
                return $http.post(url,data).success(function(res){
                    return res;
                })
            }
        }
    })

    myApp.factory("getUserInformation",function($http,myPost,$q){
        return{
            get:function(){

                var deferred = $q.defer();
                myPost.postData("/release/getUserInformation").then(function(_res){

                    if(_res.data){
                        console.log(_res)
                        var obj = {}
                        obj.username = _res.data.data.username
                        obj.debateInvolve = _res.data.data.debateInvolve
                        obj.group = _res.data.data.group
                        obj.num = _res.data.data.num
                        obj.rNum = _res.data.data.rNum
                        obj.status = _res.data.data.rNum
                        obj.LAN = _res.data.data.LAN
                        obj.winNum = _res.data.data.winNum
                        obj.drawNum = _res.data.data.drawNum
                        obj.lostNum = _res.data.data.lostNum
                        obj.unDeterminNum = _res.data.data.unDeterminNum
                        deferred.resolve({err:0,msg:"data acquired",obj:obj});
                    }else{
                        deferred.reject({err:1,msg:"data not acquired"});
                    }

                })

                return deferred.promise;
            }

        }
    })


    myApp.controller("myController",function($scope,myPost,getUserInformation,$uibModal){
        $scope.showDebating = true
        $scope.showFinish = true

        $scope.openRoom = function(num,title){
            $uibModal.open({
                controller: 'ruleConfirmCtrl',
                templateUrl: 'ruleConfirmCtrl.html',
                resolve: {
                    items: function () {
                        return {num:num,title:title,status:"newRoom"}
                    }
                }
            })
        }

        $scope.participateRoom = function(num,rNum,position,timeLimit,analysisFunc,mapFunc,totalNum){
            $uibModal.open({
                controller: 'ruleConfirmCtrl',
                templateUrl: 'ruleConfirmCtrl.html',
                resolve: {
                    items: function () {
                        return {num:num,rNum:rNum,position:position,status:"participate",timeLimit:timeLimit,analysisFunc:analysisFunc,mapFunc:mapFunc,totalNum:totalNum}
                    }
                }
            })

        }

        $scope.backToRoom = function(_id){
            myPost.postData("/release/backToRoom",{_id:_id}).then(function(_res){
                    if(_res.data.error == 1){
                        alert(_res.data.msg)
                    }else{
                        if($scope.LAN == 'JP'){
                            location = "/release/chat"
                        }else{
                            location = "/release/chat"
                        }

                    }
            })
        }

        $scope.toTimeFormat = function(time){
            if(!time) return "1900/01/01 00:00"
            var date = new Date(time)
            var datevalues = date.getFullYear() + '/' + ('0' + (date.getMonth() + 1)).slice(-2) + '/' + ('0' + date.getDate()).slice(-2) + ' ' + date.getHours() + ':' + date.getMinutes();
            return datevalues
        }

        $scope.getPosition = function(pro,con){
            if(pro == $scope.username){
                return "panel-info"
            }

            if(con == $scope.username){
                return "panel-success"
            }
        }

        getUserInformation.get().then(function(msg){
            $scope.LAN = msg.obj.LAN
            $scope.group = msg.obj.group
            $scope.username = msg.obj.username
            $scope.winNum = msg.obj.winNum
            $scope.lostNum = msg.obj.lostNum
            $scope.drawNum = msg.obj.drawNum
            $scope.unDeterminNum = msg.obj.unDeterminNum
        })


        myPost.postData("/release/getListInformation",{}).then(function(_res){
            console.log(21111)
            console.log(_res)
            $scope.themes = _res.data
        })


        myPost.postData("/release/getCurrentSelfDebateInfo",{}).then(function(_res){
            $scope.getCurrentSelfDebateInfoVal = _res.data.data
        })

    })



    myApp.controller('ruleConfirmCtrl', function ($scope,$uibModalInstance,items,myPost) {

        $scope.title = items.title
        $scope.timeLimit = 0
        $scope.timeLimitVal = '2'
        $scope.observer = 0


        $scope.totalNum = items.totalNum || 1
        if(items.totalNum){
            $scope.totalNumSelected = 1
        }

        if(items.analysisFunc == undefined){
            $scope.analysisFunc = 1
        }else{
            $scope.analysisFunc = items.analysisFunc
        }

        if(items.mapFunc == undefined){
            $scope.mapFunc = 1
        }else{
            $scope.mapFunc = items.mapFunc
        }


        $scope.funcDisable = 0 //分析機能選択し,マップ機能選択しができるかどうか

        if(items.status ==  "newRoom"){
            $scope.position = 1
        }

        if(items.status == "participate"){
            $scope.funcDisable = 1

            $scope.position = items.position

            if(items.position == 1){
                //说明position=2的位置已经被人占据了,这个时候position=1是不能被选择的
                $scope.positionDisabled = 2
            }else if(items.position == 2){
                $scope.positionDisabled = 1
            }else{
                $scope.observer = 1
            }

            $scope.timeLimit = items.timeLimit || 0
            if(parseInt(items.timeLimit) == 0){
                //房主没有设时间限制,因此时间限制有的选项应该被禁掉
                $scope.timeLimitDisabled = 1
            }else{
                $scope.timeLimitDisabled = 0
            }

        }



        $scope.status = items.status
        $scope.ok = function () {

            if(items.status == "newRoom"){
                var obj = {title:items.title,
                            num:parseInt(items.num),
                            position:parseInt($scope.position),
                            timeLimit:parseInt($scope.timeLimit),
                            timeLimitVal:parseInt($scope.timeLimitVal),
                            analysisFunc:parseInt($scope.analysisFunc),
                            mapFunc:parseInt($scope.mapFunc),
                            totalNum:parseInt($scope.totalNum)
                            }
                myPost.postData("/release/createNewRoom",obj).then(function(_res){
                    if(parseInt(_res.data.err) == 0){
                            location = "/release/chat"
                    }else{

                    }
                })
            }

            if(items.status == "participate"){
                myPost.postData("/release/participateRoom",{num:items.num,rNum:items.rNum,position:parseInt(items.position)}).then(function(_res){
                    if(parseInt(_res.data.err) == 0){
                            location = "/release/chat"
                    }else{
                        alert(_res.data.msg)
                    }
                })
            }


            //$uibModalInstance.close();
        };

        $scope.cancel = function () {
            $uibModalInstance.dismiss('cancel');
        };
    });

</script>
</html>