<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="container" ng-app="myApp" ng-controller="myForm" >



    <login-navy></login-navy>

    <form name="myForm" ng-show="LAN == 'JP'">

        <div class="form-group">
            <label for="username">ユーザー</label>
            <input type="text" ng-model="username" name="username" class="form-control" required placeholder="">
            <div class="help-block with-errors" ng-show="myForm.username.$error.required">ユーザーネームを入力してください</div>
        </div>
        <div class="form-group">
            <label for="password">パスワード</label>
            <input type="password" ng-model="password" name="password" class="form-control" required placeholder="">
            <div class="help-block with-errors" ng-show="myForm.password.$error.required">パスワードを入力してください</div>
        </div>

        <button type="button" class="btn btn-default" ng-click="submit()" >Submit</button>
    </form>




    <form name="myForm" ng-show="LAN == 'CN'">

        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" ng-model="username" name="username" class="form-control" required placeholder="">
            <div class="help-block with-errors" ng-show="myForm.username.$error.required">请输入您的用户名</div>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" ng-model="password" name="password" class="form-control" required placeholder="">
            <div class="help-block with-errors" ng-show="myForm.password.$error.required">请输入您的密码</div>
        </div>

        <button type="button" class="btn btn-default" ng-click="submit()" >提交</button>
    </form>




</div>

</body>

<script>

    // クッキー保存　setCookie(クッキー名, クッキーの値, クッキーの有効日数); //
    function setCookie(c_name,value,expiredays){
        // pathの指定
        var path = location.pathname;
        // pathをフォルダ毎に指定する場合のIE対策

        var paths = new Array();
        paths = path.split("/");
        if(paths[paths.length-1] != ""){
            paths[paths.length-1] = "";
            path = paths.join("/");
        }


        var path = "/"

        // 有効期限の日付
        var extime = new Date().getTime();
        var cltime = new Date(extime + (60*60*24*1000*expiredays));
        var exdate = cltime.toUTCString();
        // クッキーに保存する文字列を生成
        var s="";
        s += c_name +"="+ escape(value);// 値はエンコードしておく
        s += "; path="+ path;
        if(expiredays){
            s += "; expires=" +exdate+"; ";
        }else{
            s += "; ";
        }
        // クッキーに保存
        document.cookie=s;
    }


    // クッキーの値を取得 getCookie(クッキー名); //
    function getCookie(c_name){
        var st="";
        var ed="";
        if(document.cookie.length>0){
            // クッキーの値を取り出す
            st=document.cookie.indexOf(c_name + "=");
            if(st!=-1){
                st=st+c_name.length+1;
                ed=document.cookie.indexOf(";",st);
                if(ed==-1) ed=document.cookie.length;
                // 値をデコードして返す
                return unescape(document.cookie.substring(st,ed));
            }
        }
        return "";
    }




    var angular = angular.module("myApp",[])

    angular.directive("loginNavy",function(){
        return {
            scope:false,
            templateUrl:"/angularJSTemplate/navy.html"
        }
    })

    angular.factory("myPost",function($http){
        return{
            postData:function(data){
                return $http.post("/releaseCN/loginPost",data).success(function(res){
                    return res;
                })
            }
        }
    })


    angular.controller("myForm",function($scope,$window,$timeout,myPost){

        if(/CN/.test(location.pathname)){
            $scope.LAN = "CN"
        }else{
            $scope.LAN = "JP"
        }

        $scope.submit = function(){
            myPost.postData({username:$scope.username,password:$scope.password}).then(function(res){
                if(parseInt(res.data.error) == 0){
                    $timeout(function(){


                        var cookieId = res.data.cookieId
                        setCookie("cookieId",cookieId,7)

                        
                        if(res.data.debating){
                            if($scope.LAN == 'JP'){
                                $window.location = "/release/chat"
                            }else{
                                $window.location = "/releaseCN/chat"
                            }
                        }else{
                            if($scope.LAN == 'JP'){
                                $window.location = "/release/group#/theme"
                            }else{
                                $window.location = "/releaseCN/group#/theme"
                            }
                        }




                    })
                }else{
                    $window.alert(res.data.msg)
                }
            })
        }
    })





</script>
</html>